/* ================
   COLORS AND SIZES
   ================ */
:root {
  --dark-rgb: 28, 32, 33;
  --dark: rgb(var(--dark-rgb));
  --dark-95: rgba(var(--dark-rgb), 0.95);
  --dark-85: rgba(var(--dark-rgb), 0.85);
  --dark-75: rgba(var(--dark-rgb), 0.75);
  --dark-50: rgba(var(--dark-rgb), 0.5);
  --dark-25: rgba(var(--dark-rgb), 0.25);
  --dark-15: rgba(var(--dark-rgb), 0.15);
  --dark-05: rgba(var(--dark-rgb), 0.05);

  --light-rgb: 255, 255, 255;
  --light: rgb(var(--light-rgb));
  --light-85: rgba(var(--light-rgb), 0.85);
  --light-75: rgba(var(--light-rgb), 0.75);
  --light-50: rgba(var(--light-rgb), 0.5);
  --light-25: rgba(var(--light-rgb), 0.25);
  --light-15: rgba(var(--light-rgb), 0.15);
  --light-05: rgba(var(--light-rgb), 0.05);

  --purple-rgb: 69, 48, 64;
  --purple: rgb(var(--purple-rgb));
  --purple-lighter: rgba(var(--purple-rgb), 0.75);
  --purple-darker: color-mix(in srgb, var(--purple), #000 20%);

  --green-rgb: 67, 172, 160;
  --green: rgb(var(--green-rgb));
  --green-lighter: color-mix(in srgb, var(--green), #fff 10%);
  --green-darker: color-mix(in srgb, var(--green), #000 20%);

  --deep-blue-rgb: 0, 37, 64;
  --deep-blue: rgb(var(--deep-blue-rgb));

  --blue-rgb: 24, 90, 157;
  --blue: rgb(var(--blue-rgb));

  --orange-rgb: 245, 173, 61;
  --orange: rgb(var(--orange-rgb));

  --background-light: color-mix(in srgb, var(--light), #000 5%);
  --background-dark: var(--dark-95);
  --borders-light: var(--dark-15);
  --borders-dark: var(--light-15);
  --font-color-inverted: var(--light-75);
  --font-color-inverted-hover: var(--light-85);

  --font-color: light-dark(var(--dark-75), var(--font-color-inverted));
  --font-color-hover: light-dark(
    var(--dark-85),
    var(--font-color-inverted-hover)
  );
  --background: light-dark(var(--background-light), var(--background-dark));
  --background-odd: light-dark(
    var(--light),
    color-mix(in srgb, var(--dark), var(--light) 5%)
  );
  --borders: light-dark(var(--borders-light), var(--borders-dark));
  --shadow: light-dark(var(--dark-25), rgba(0, 0, 0, 0.5));
  --overlay: light-dark(var(--dark-25), var(--dark-50));
  --gradient: linear-gradient(33deg, var(--green), var(--blue));

  --icon-color: light-dark(var(--purple), var(--green));
  --icon-color-hover: light-dark(var(--purple-darker), var(--green-darker));
  --primary-btn-bg: var(--green);
  --nav-bg: transparent;

  --font-size: 16px;
  --font-size-mobile: calc(var(--font-size) * 0.95);
  --header-border-width: 2px;
  --h1-font-size: 2.5em;

  --gutter: 24px;
}

/* SNCL overrides */
.sncl {
  --logo-color: #f0451e;
  --background-light: white;
  --background: light-dark(var(--background-light), var(--background-dark));
  --primary-btn-bg: var(--gradient);
  --nav-bg: light-dark(var(--light-75), var(--dark-75));

  --font-color-inverted: var(--light);

  --header-border-width: 0px;
  --h1-font-size: 2em;
}

/* ==================
   GRID & BREAKPOINTS
   ================== */
$breakpoints: (
  "xs": 360px,
  "s": 480px,
  "m": 768px,
  "l": 992px,
  "xl": 1200px,
  "xxl": 1440px
);

@mixin grid-media-query($breakpoint, $direction: up) {
  @if map-has-key($breakpoints, $breakpoint) {
    $limit: min-width;
    $value: map-get($breakpoints, $breakpoint);
    @if $direction == down {
      $limit: max-width;
      $value: $value - 0.2;
    }
    @media only screen and (#{$limit}: #{$value}) {
      @content;
    }
  }
}

@mixin device-type($namespace: "") {
  $prefix: unquote(".") + $namespace;

  @for $grid-column from 2 through 4 {
    @for $i from 1 through ($grid-column - 1) {
      .col#{$prefix}u-#{$i}\/#{$grid-column} {
        width: calc(#{$i} * 100% / #{$grid-column});
      }
    }
  }
}

.col .row {
  margin-left: calc(-1 * var(--gutter) / 2);
  margin-right: calc(-1 * var(--gutter) / 2);
}
.row {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  &:after {
    content: "";
    display: table;
    clear: both;
  }
  .col {
    float: left;
    box-sizing: border-box;
    padding: 0 calc(var(--gutter) / 2);
    min-height: 1px;
    margin-left: auto;
    left: auto;
    right: auto;
    width: 100%;
  }
}

@include device-type();
@each $breakpoint, $declaration in $breakpoints {
  @include grid-media-query($breakpoint) {
    @include device-type("#{$breakpoint}--");

    .inline-#{$breakpoint} {
      display: inline !important;
    }
    .block-#{$breakpoint} {
      display: block !important;
    }
    .hidden-#{$breakpoint} {
      display: none !important;
    }
  }
}

/* ============
   PAGE STYLING
   ============ */
html {
  box-sizing: border-box;
  color-scheme: light dark;
  body.black-banner:before {
    content: "";
    display: inline-block;
    position: relative;
    height: 100vh;
    width: 100vw;
    background: black;
  }
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
html {
  font-family: sans-serif;
  &.fontLoaded {
    font-family: Lato, sans-serif;
  }
}
html,
body {
  margin: 0;
  padding: 0;
  min-width: 300px;
  font-size: var(--font-size-mobile);
  @include grid-media-query(s) {
    font-size: var(--font-size);
  }
  font-weight: 300;
  letter-spacing: 0.025em;
  scroll-behavior: smooth;
  //background: var(--background);
  color: var(--font-color);
}

/* Overlay when mobile nav is open */
html.no-scroll {
  overflow-y: hidden;
  body {
    overflow: hidden;
    position: relative;

    .content,
    .mobile-navbar {
      position: relative;
      &:after {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: var(--overlay);
        backdrop-filter: blur(2px);
      }
    }
  }
}

/* Common styling */
body {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: 300;
    // text-align: center;
    margin: 24px 0;
    span {
      font-weight: 900;
    }
  }
  h2 {
    font-size: 1.7em;
  }
  p {
    margin: 12px 0;
  }

  .sncl {
    h1 {
      font-weight: 600;
    }
    h2 {
      font-size: 2.5em;
      font-weight: 700;
    }
    h3 {
      font-weight: 600;
    }
  }

  a {
    text-decoration: none;
    color: var(--font-color);
    &:hover {
      color: var(--font-color-hover);
    }
  }
  hr {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 24px;
    margin-bottom: 24px;
  }
  ul.prices {
    li {
      max-width: 250px;
      display: flex;
      justify-content: space-between;
      span.price {
        font-weight: 400;
        text-align: right;
      }
    }
    &.wide li {
      max-width: 500px;
    }
  }
  ul.buttons_list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    li {
      margin: 0;
      padding: 0;
      list-style-type: none;
    }
  }
  .display-inline {
    display: inline;
  }
  ul.social_links {
    margin: 0;
    padding: 0;
    display: inline;
    li {
      margin: 0;
      padding: 0;
      list-style-type: none;
      display: inline;
      a {
        text-decoration: none;
        svg.icon {
          color: var(--icon-color);
          height: 36px;
          width: 36px;
          vertical-align: middle;
          margin-bottom: 8px;
        }
        &:hover {
          svg.icon {
            color: var(--icon-color-hover);
          }
        }
      }
    }
  }
  ul.images_list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    li {
      list-style-type: none;
      margin: 0;
      padding: 0 12px 24px 12px;
      height: auto;
      display: flex;
      justify-content: center;
      @include grid_media_query(m) {
        flex-basis: 25%;
      }
      a {
        display: grid;
        place-items: center;
        background: var(--background-light);
        padding: 24px;
        border-radius: 24px;
        max-width: 35vw;
        aspect-ratio: 1;
        img {
          filter: brightness(1);
          width: auto;
          height: auto;
          max-width: 100%;

          transition: transform 0.2s;
          &:hover {
            transform: scale(1.05);
            cursor: pointer;
          }
        }
      }
    }
  }
  .button,
  a.button {
    color: var(--font-color);
    font-weight: 900;
    text-transform: uppercase;
    border-radius: 0.25em;
    padding: 12px;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 2em;
    max-width: 100%;
    &:hover {
      outline: 1px solid var(--font-color-hover);
      color: var(--font-color-hover);
      svg.icon {
        color: var(--font-color-hover);
      }
    }
    &.primary {
      background: var(--primary-btn-bg);
      color: var(--font-color-inverted-hover);
      svg.icon {
        color: var(--font-color-inverted-hover);
      }
      &:hover {
        outline: none;
        background: var(--green-lighter);
        color: var(--font-color-inverted-hover);
      }
    }
    svg.icon {
      height: 2em;
      width: 2em;
      margin-right: 4px;
      color: var(--font-color);
      vertical-align: middle;
      margin-top: -2px;
    }
  }
  .button-icon,
  a.button-icon {
    svg.icon {
      font-size: 56px;
      height: 56px;
      width: 56px;
      color: var(--icon-color);
      margin-top: 16px;
    }
    &:hover {
      svg.icon {
        color: var(--icon-color-hover);
      }
    }
  }
  .text-center {
    text-align: center;
  }
  .uppercase {
    text-transform: uppercase;
  }
  .hidden {
    display: none !important;
  }
  .col--text-around-img {
    padding: 0;
    p {
      padding: 12px;
      &:first-child {
        margin-top: 0;
      }
    }
    img {
      filter: blur(5px);
      &.visible {
        filter: none;
        transition: transform 0.2s;
        &:hover {
          transform: scale(1.05);
        }
      }
      width: 100%;
      height: auto;
      border-radius: 10px;
      max-width: calc(100% - 24px);
      margin: 0 12px;
      @include grid-media-query(xs) {
        margin: 12px 24px 12px 12px;
        max-width: calc((100% / 2) - 24px);
        float: left;
        &.right {
          float: right;
          margin: 12px 12px 12px 24px;
        }
      }
      @include grid-media-query(s) {
        &:not(.large) {
          max-width: calc((100% / 3) - 24px);
        }
      }
    }
  }
  .news {
    .archived {
      display: none;
    }
  }
  svg title {
    display: none;
  }
  svg.icon.highlight {
    color: var(--orange);
  }
  svg.sncl_logo {
    height: 36px;
    width: 84px;
    vertical-align: middle;
  }
  .toggle {
    *,
    *:before,
    *:after {
      font-size: 0.9em;
    }

    position: relative;
    box-sizing: border-box;

    input[type="checkbox"] {
      margin: 0;
      position: absolute;
      left: 0;
      top: 0;
      z-index: 10;
      width: 100%;
      height: 100%;
      cursor: pointer;
      opacity: 0;
      & + label {
        position: relative;
        display: flex;
        align-items: center;
        box-sizing: border-box;
        &:before {
          content: "";
          width: 4.375em; //70px
          height: 2.5em; //40px;
          background: #fff;
          border: 2px solid #ddd;
          box-shadow: inset -1.875em 0 0 #666;
          position: relative;
          display: inline-block;
          border-radius: 1.25em;
          box-sizing: border-box;
          transition: 0.25s ease-in;
        }

        &:after {
          content: "";
          width: 1.25em;
          height: 1.25em;
          position: absolute;
          left: 0.575em;
          top: 0.625em;
          border-radius: 50%;
          background: #fffdfd;
          box-shadow: inset -0.5em -0.35em #333;
          transition: 0.2s ease-in-out;
        }
      }
      &:checked + label {
        &:before {
          box-shadow: inset 1.875em 0 0 #ffeb00;
        }
        &:after {
          box-shadow: inset 0 0 0 2px #fff;
          background: #ffbc00;
          left: 2.475em;
          top: 0.575em;
          border: 2px dashed #fff;
        }
      }
    }
  }
  dialog {
    max-width: 20em;
    padding: 2em;
    border: 1px solid var(--borders);
    border-radius: 0.5em;
    background: var(--background);
    box-shadow: hsl(0 0% 0% / 10%) 0 0 0.5em 0.25em;
    &::backdrop {
      background: var(--overlay);
    }
    &:after {
      display: inline-block;
      content: "×";
      position: absolute;
      top: 12px;
      right: 24px;
      cursor: pointer;
    }
  }

  div.map-iframe {
    height: 250px;
    position: relative;
    width: 80%;
    margin: auto;
    background: var(--background-dark);
    background-position: center;
    cursor: pointer;

    &.map--bulle {
      background-image: url("https://ik.imagekit.io/sarahdionne/tr:w-30,fo-auto,f-webp/maps/Bulle.png");
      &.visible {
        background-image: url("https://ik.imagekit.io/sarahdionne/tr:w-720,fo-auto,f-webp/maps/Bulle.png");
      }
    }
    &.map--paudex {
      background-image: url("https://ik.imagekit.io/sarahdionne/tr:w-30,fo-auto,f-webp/maps/Paudex.png");
      &.visible {
        background-image: url("https://ik.imagekit.io/sarahdionne/tr:w-720,fo-auto,f-webp/maps/Paudex.png");
      }
    }
    &.map--sncl {
      background-image: url("//ik.imagekit.io/sncl/tr:w-32,fo-auto,f-webp/content/SNCL_map.png");
      &.visible {
        background-image: url("//ik.imagekit.io/sncl/tr:w-576,fo-auto,f-webp/content/SNCL_map.png");
      }
    }
    iframe {
      height: 250px;
      width: 100%;
      border: 0;
      &:not([src]),
      &[src=""] {
        display: none;
      }
    }
    &:before,
    &:after {
      transition: all 0.25s ease;
      position: absolute;
      display: block;
    }
    &:before {
      content: "";
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: #000;
      opacity: 0;
      z-index: 10;
    }
    &:after {
      content: "Click to Interact";
      background: var(--purple-lighter);
      color: var(--font-color-inverted);
      width: 200px;
      height: 30px;
      line-height: 30px;
      border-radius: 15px;
      text-align: center;
      top: 50%;
      margin-top: -15px;
      left: 50%;
      margin-left: -100px;
      z-index: 11;
      opacity: 0;
    }
    &:hover:before {
      opacity: 0.3;
    }
    &:hover:after {
      opacity: 1;
    }
    &.interact {
      &:before,
      &:after {
        display: none;
      }
    }
  }
}

/* SNCL SLIDER */
$slide-images: (
  "sncl_1966.jpg",
  "sncl_wakesurf.jpg",
  "sncl_wakeboard.jpg",
  "sncl_group.jpg",
  "sncl_sunset.jpg"
);

:root {
  $img-path: "//ik.imagekit.io/sncl/tr:w-360,h-600,c-at_least,f-webp/header/";
  @for $i from 1 through length($slide-images) {
    $slide-image: nth($slide-images, $i);
    --slide-#{$i}: url("#{$img-path}#{$slide-image}");
  }
}

@for $i from 1 through length($breakpoints) {
  $name: nth(map_keys($breakpoints), $i);
  $breakpoint: nth(map_values($breakpoints), $i);
  $slide-width: $breakpoint;
  @if $i + 1 <= length($breakpoints) {
    $slide-width: nth(map_values($breakpoints), $i + 1);
  }

  @include grid_media_query($name) {
    :root {
      $img-path: "//ik.imagekit.io/sncl/tr:w-#{$slide-width},h-600,c-at_least,f-webp/header/";
      @for $i from 1 through length($slide-images) {
        $slide-image: nth($slide-images, $i);
        --slide-#{$i}: url("#{$img-path}#{$slide-image}");
      }
    }
  }
}

@keyframes imageSlider {
  @for $i from 0 through length($slide-images)-1 {
    $slide-num: $i + 1;
    $next-num: 1;
    @if $i + 2 <= length($slide-images) {
      $next-num: $i + 2;
    }
    $duration: 100 / length($slide-images);
    $from: $i * $duration;
    $to: ($i + 1) * $duration - 5;

    #{$from}% {
      background-image: var(--slide-#{$slide-num});
    }
    #{$to}% {
      background-image: var(--slide-#{$slide-num}), var(--slide-#{$next-num});
    }
  }
  100% {
    background-image: var(--slide-1);
  }
}

/* PAGE LAYOUT */
.container {
  input#toggler {
    display: none;
  }

  .wrapper {
    transition: margin 0.3s ease-in-out;
    width: 100%;

    .content {
      margin: 0 auto;
      background-color: var(--background);
      width: 100%;

      #banner {
        &.full-height {
          // full height minus header
          height: calc(100vh - 56px);
          margin-top: 56px;
        }
        /* Parallax Banner */
        &.parallax {
          background-image: url("https://ik.imagekit.io/sarahdionne/tr:w-30,fo-auto,f-webp/hero/full.jpg");
          .bg,
          .mg,
          .fg {
            transition: transform 1s ease-out;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-position: bottom;
            background-repeat: no-repeat;
            background-attachment: inherit;
            background-size: cover;
          }
          .bg {
            background-position: center;
            background-image: url("https://ik.imagekit.io/sarahdionne/tr:w-720,fo-auto,f-webp/hero/background.jpg");
            @include grid-media-query(m) {
              background-image: url("https://ik.imagekit.io/sarahdionne/tr:w-1200,fo-auto,f-webp/hero/background.jpg");
            }
          }
          .mg {
            background-image: url("https://ik.imagekit.io/sarahdionne/tr:w-720,fo-auto,f-webp/hero/middleground.png");
            @include grid-media-query(m) {
              background-image: url("https://ik.imagekit.io/sarahdionne/tr:w-1200,fo-auto,f-webp/hero/middleground.png");
            }
          }
          .fg {
            background-image: url("https://ik.imagekit.io/sarahdionne/tr:w-720,fo-auto,f-webp/hero/foreground.png");
            @include grid-media-query(m) {
              background-image: url("https://ik.imagekit.io/sarahdionne/tr:w-1200,fo-auto,f-webp/hero/foreground.png");
            }
          }
        }
        /* Slider banner */
        &.slider {
          background-image: var(--slide-1);
          perspective: 1px;
          animation: imageSlider 30s linear infinite 0s;
          background-position: center;
          &.running {
            animation-play-state: running;
          }
          &.paused
          //, &:hover {
          {
            animation-play-state: paused;
            &:after {
              opacity: 0.01;
            }
            .inner {
              opacity: 0.01;
            }
          }
          &:after {
            transition: opacity 0.5s ease-in-out;
            position: absolute;
            top: 0;
            left: 0;
            content: "";
            background: linear-gradient(
              rgba(var(--dark-rgb), 0.275),
              rgba(var(--dark-rgb), 0.3)
            );
            width: 100%;
            height: 100%;
            z-index: 1;
            opacity: 1;
          }
        }

        width: 100%;
        max-width: 100%;
        max-height: 100vh;
        min-height: 400px;
        position: relative;
        overflow: hidden;
        margin: 0;
        text-align: center;
        color: var(--font-color-inverted);
        cursor: default;
        padding: 0;
        height: 400px;
        @include grid-media-query(l) {
          min-height: 70vh;
        }
        text-align: center;
        background-attachment: scroll, scroll;
        background-color: var(--purple-lighter);
        background-position: bottom;
        background-repeat: no-repeat;
        background-attachment: inherit;
        background-size: cover;

        perspective: 1px;

        .inner {
          z-index: 2;
          filter: drop-shadow(0px 0px 5px var(--deep-blue));
          margin: auto;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          color: var(--font-color-inverted);
          display: inline-block;
          padding: 0;
          min-width: 275px;
          @include grid-media-query(s) {
            min-width: 90vw;
          }
          @include grid-media-query(m) {
            padding-top: 72px;
          }

          text-align: center;
          vertical-align: middle;

          header {
            position: relative;
            display: inline-block;
            border-bottom: solid var(--header-border-width);
            border-top: solid var(--header-border-width);
            margin: 36px 0;
            @include grid-media-query(s) {
              margin-top: 12px;
            }
            padding: 3px 0;

            h1 {
              border-bottom: solid var(--header-border-width);
              border-top: solid var(--header-border-width);
              font-size: var(--h1-font-size);
              font-weight: 900;
              letter-spacing: 0.2em;
              margin: 0;
              padding-left: 0.05em;
              position: relative;
              a {
                text-decoration: none;
                color: var(--font-color-inverted-hover);

                &:after {
                  // Add the arrow to scroll to content
                  display: block;
                  position: fixed;
                  font-size: 1em;
                  font-weight: 400;
                  bottom: -100px;
                  left: 50%;
                  width: 1em;
                  content: "↓";
                  margin-left: -0.5em;
                  cursor: pointer;
                  &:hover {
                    color: var(--light);
                  }
                }
              }
              span {
                font-weight: 300;
              }
            }
          }
          p {
            font-weight: 500;
            letter-spacing: 0.1em;
            margin: 0;
            text-transform: uppercase;
            &.small {
              font-size: 0.9em;
              text-transform: none;
            }
          }
          // icons list in the banner
          footer {
            padding: 24px 0 0 0;
            ul {
              margin: 0;
              padding: 0;
              li {
                list-style-type: none;
                display: inline-block;

                a {
                  display: inline-block;
                  color: var(--font-color-inverted);
                  margin: 12px 18px;
                  transition: color 0.3s ease-in-out;

                  svg.icon {
                    display: inline-block;
                    height: 36px;
                    width: 36px;
                    color: var(--font-color-inverted);
                    transition: fill 0.3s ease-in-out;
                    margin: 0;
                  }

                  &:hover {
                    color: var(--font-color-inverted-hover);
                    svg.icon {
                      color: var(--font-color-inverted-hover);
                    }
                  }

                  @include grid-media-query(m) {
                    margin: 12px 24px;
                    transition: background-color 0.3s ease-in-out,
                      outline 0.3s ease-in-out;
                    border: 1px solid var(--font-color-inverted);
                    border-radius: 50%;
                    svg.icon {
                      padding: 16px;
                      height: calc(36px + 32px);
                      width: calc(36px + 32px);
                    }
                    &:hover {
                      background-color: var(--light-15);
                      outline: 1px solid var(--font-color-inverted-hover);
                    }
                  }
                }

                &:first-child a {
                  padding-left: 0;
                }
                &:last-child a {
                  padding-right: 0;
                }
              }
            }
          }
        }
      }

      .sections {
        &:not(.no-odd) {
          section:nth-child(odd) {
            background-color: var(--background-odd);
          }
        }
        section {
          margin-top: 1px;
          padding: 48px 12px;
          @include grid-media-query(s) {
            padding: 56px 24px;
          }
          @include grid-media-query(m) {
            &:first-of-type {
              margin-top: 24px;
            }
            padding: 56px 24px 48px 24px;
            &.containered {
              margin-left: 24px;
              margin-right: 24px;
            }
          }
          @include grid-media-query(l) {
            &.containered,
            & > *:not(.full_width) {
              max-width: calc(960px - 96px);
              margin-left: auto;
              margin-right: auto;
            }
          }
          @include grid-media-query(xl) {
            padding: 56px 36px 48px 36px;
            &.containered,
            & > *:not(.full_width) {
              max-width: 1024px;
            }
          }
          @include grid-media-query(xxl) {
            &.containered,
            & > *:not(.full_width) {
              max-width: 1200px;
            }
          }

          &.gradient {
            position: relative;
            color: var(--font-color-inverted);
            a:not(.button) {
              color: var(--font-color-inverted);
            }
            > * {
              position: relative;
            }
            &:before {
              position: absolute;
              content: "";
              top: 0;
              right: 0;
              left: 0;
              bottom: 0;
              background: var(--gradient);
              transform: skewY(4deg);
            }

            &.find-me {
              background: linear-gradient(
                180deg,
                var(--green) 0%,
                var(--green-lighter) 100%
              );
              color: var(--font-color-inverted);
            }
          }
        }
      }
      footer {
        text-align: center;
        padding: 12px;
        p {
          height: 24px;
          line-height: 24px;
          small,
          svg.icon {
            vertical-align: middle;
            display: inline-block;
          }
        }
        svg.icon {
          height: 24px;
          width: 24px;
          color: var(--font-color);
          margin-right: 12px;
        }
      }
    }
  }
}

/* Mobile menu and header */
@include grid-media-query(m, down) {
  .container {
    /* Mobile menu */
    nav {
      transition: transform 0.3s ease-in-out;
      transform: translateX(-275px);
      position: fixed;
      top: 0;
      left: 0;
      overflow-y: auto;
      width: 275px;
      height: 100vh;
      background-color: var(--background-odd);
      float: left;
      color: var(--font-color);
      border-right: 1px solid var(--borders);
      display: block;
      padding: 0;
      box-sizing: border-box;
      .title {
        display: none;
      }
      ul,
      li {
        margin: 0;
        padding: 0;
        list-style: none;
      }
      & > ul {
        margin-top: var(--gutter);
        & > li {
          font-size: 1.2em;
          a,
          span {
            position: relative;
            text-transform: uppercase;
            user-select: none;
            color: var(--font-color);
            padding: calc(var(--gutter) / 2) calc(var(--gutter) * 1.5)
              calc(var(--gutter) / 2) var(--gutter);
            text-decoration: none;
            display: block;
            font-weight: 900;

            &:before {
              content: "";
              position: absolute;
              left: 12px;
              top: 0;
              height: 1px;
              width: calc(100% - 36px);
              border-top: 1px solid var(--borders);
            }
          }
          &:first-child {
            & > a,
            & > span {
              &:before {
                border-top-width: 0px;
              }
            }
          }
          a:hover {
            color: var(--font-color-hover);
          }
          ul li {
            font-size: 0.9em;
            a,
            span {
              padding-left: calc(var(--gutter) * 2);
              font-weight: 300;
              &:before {
                left: 36px;
                width: calc(100% - 60px);
              }
            }
            ul li {
              a,
              span {
                padding-left: calc(var(--gutter) * 3);
                &:before {
                  left: 60px;
                  width: calc(100% - 84px);
                }
              }
            }
          }
        }
      }
    }

    /* Mobile top header */
    // on top of page stays not fixed
    &.banner-intersecting {
      .wrapper .mobile-navbar {
        position: absolute;
        background: none;
        backdrop-filter: none;
        box-shadow: none;
        .title.hide-on-top {
          display: none;
        }
        label.toggler.inverted {
          .navicon {
            background: var(--font-color-inverted-hover);
            &,
            &:before,
            &:after {
              background: var(--font-color-inverted-hover);
            }
          }
          svg.icon {
            color: var(--font-color-inverted-hover);
          }
        }
      }
    }

    /* Mobile fix header (scrolled) */
    .wrapper .mobile-navbar {
      min-width: 300px;
      position: fixed;
      top: 0;
      z-index: 1;
      background: var(--nav-bg);
      backdrop-filter: blur(15px) saturate(100%);
      box-shadow: 0 1px 2px 0 var(--shadow);
      display: inline-block;
      width: 100%;
      font-size: 1.2em;
      line-height: 56px;
      .title {
        float: right;
        margin-right: 12px;
        display: block;
        z-index: 0;
        text-transform: uppercase;
        padding-left: 0px;
        font-weight: 900;
        height: 56px;
        vertical-align: middle;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        a {
          color: var(--font-color);
          text-decoration: none;
        }
        span {
          font-weight: 300;
        }
      }

      label.toggler {
        position: relative;
        cursor: pointer;
        display: block;
        float: left;
        width: 36px;
        height: 34px;
        margin: 11px 6px;
        border-radius: 5px;
        .navicon {
          background: var(--font-color);
          visibility: visible;
          display: block;
          height: 3px;
          position: absolute;
          top: 16px;
          left: 6px;
          transition: visibility 0.5s ease-in-out;
          width: 24px;
          &:before,
          &:after {
            background: var(--font-color);
            content: "";
            left: 0px;
            display: block;
            height: 100%;
            position: absolute;
            transition: transform 0.5s ease-in-out, top 0.5s ease-in-out;
            width: 100%;
          }
          &:before {
            top: 7px;
          }
          &:after {
            top: -7px;
          }
        }
        svg.icon {
          position: absolute;
          left: 40px;
          height: 36px;
          width: 36px;
          margin: 0px 12px 10px 0px;
          color: var(--font-color);
        }
      }
    }

    /* mobile menu visible */
    input#toggler:checked {
      ~ nav {
        transform: translateX(0);
        display: block;
        left: 0px;
      }
      ~ .wrapper {
        margin-left: 275px;
        overflow: hidden;

        .toggler-wrapper {
          position: fixed;
          width: 100%;
          height: 100vh;
          z-index: 2;
          cursor: pointer;
        }
        .toggler .navicon {
          background: transparent;
          &:before {
            transform: rotate(-45deg);
            top: 0;
          }
          &:after {
            transform: rotate(45deg);
            top: 0;
          }
        }
      }
    }
  }
}

/* Desktop menu */
@include grid-media-query(m) {
  .container {
    // ON TOP OF PAGE Stays not fixed
    &.banner-intersecting {
      nav {
        top: 0;
        position: absolute;
        display: block;
        background: none;
        backdrop-filter: none;
        box-shadow: none;

        &.inverted-top {
          .title svg.icon {
            color: var(--font-color-inverted);
          }
          .title a {
            color: var(--font-color-inverted);
          }
          > ul {
            > li {
              > a,
              > span {
                color: var(--font-color-inverted);
                &:hover {
                  background-color: transparent;
                  color: var(--font-color-inverted-hover);
                }
                &.primary {
                  color: var(--font-color-inverted-hover);
                }
              }
              &,
              &:hover {
                &.submenu a:after,
                &.submenu span:after {
                  border-color: var(--font-color-inverted);
                }
              }
              &:hover {
                > a,
                > span {
                  outline: 1px solid var(--borders-dark);
                  color: var(--font-color-inverted-hover);
                }
              }
            }
          }
        }
      }
      // add an overlay under the transparent navbar
      #banner {
        position: relative;
        &:after {
          position: absolute;
          pointer-events: none;
          content: "";
          height: 100px;
          width: 100%;
          top: 0;
          left: 0;
          background: linear-gradient(
            to bottom,
            rgba(var(--deep-blue-rgb), 0.65) 0%,
            rgba(var(--deep-blue-rgb), 0.1) 60%,
            transparent 90%
          );
        }
      }
    }

    nav {
      display: block;
      z-index: 1;
      position: fixed;
      top: 0;
      height: 56px;
      width: 100%;
      background-color: var(--nav-bg);
      backdrop-filter: blur(15px);
      box-shadow: 0 1px 2px 0 var(--shadow);
      .title {
        font-size: 1.2em;
        line-height: 56px;
        display: block;
        text-transform: uppercase;
        padding-left: 0px;
        font-weight: 900;
        height: 56px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        float: left;
        margin-left: 36px;
        svg.icon,
        a {
          display: inline-block;
        }
        svg.icon {
          height: 36px;
          width: 36px;
          &.sncl_logo {
            height: 36px;
            width: 84px;
          }
          color: var(--font-color);
          margin: -4px 12px 0 0;
          vertical-align: middle;
        }
        a {
          color: var(--font-color);
          text-decoration: none;
        }
        span {
          font-weight: 300;
        }
      }

      ul,
      li {
        margin: 0;
        padding: 0;
        list-style: none;
      }
      & > ul {
        text-align: right;
        margin-right: 36px;
        & > li {
          display: inline-block;
          margin: 10px;
          a,
          span {
            &:hover {
              user-select: none;
              color: var(--font-color-hover);
            }
            text-transform: uppercase;
            display: inline-block;
            padding: 10px 16px;
            height: 36px;
            font-size: 1em;
            line-height: 1em;
            color: var(--font-color);
            text-decoration: none;
            outline: 0px;
            &.toggle {
              padding: 0;
            }
            &.primary {
              background: var(--primary-btn-bg);
              color: var(--font-color-inverted-hover);
              font-weight: 900;
              &:hover {
                background: var(--green-lighter);
                outline: none;
                color: var(--font-color-inverted-hover);
              }
            }
            &:hover {
              color: var(--font-color);
              // background-color: var(--background);
            }
          }

          &.current {
            font-weight: 900;
          }

          /* submenu */
          position: relative;
          & > ul {
            transition: opacity 0.3s ease-in-out;
            transform: scale(0);
            opacity: 0;
            display: block;
            position: absolute;
            z-index: 1;
            right: -24px;
            background-color: var(--background);
            margin: 12px 0 0 0;
            padding: 16px 0;
            border: 1px solid var(--borders);
            box-shadow: 0 1px 2px 0 var(--shadow);
            &:before {
              content: "";
              right: 37px;
              position: absolute;
              width: 16px;
              height: 16px;
              border: 1px solid var(--borders);
              border-width: 1px 1px 0 0;
              background: transparent;
              background: linear-gradient(
                45deg,
                transparent 0%,
                transparent 50%,
                var(--background) 50%
              );
              transform-origin: top left;
              transform: rotate(-45deg);
              top: -1px;
            }
            &:after {
              content: "";
              width: 150%;
              position: absolute;
              height: 125%;
              top: -18px;
              left: -25%;
              z-index: -10;
            }

            li {
              margin: 0;
              display: block;
              &:first-child a {
                border-top: 0px;
              }
              a {
                padding: 10px 36px;
                width: 100%;
                height: auto;
                max-width: 200px;
                font-size: 0.95em;
                border-top: 1px solid var(--background);
                outline: none;
                &:hover {
                  outline: none;
                  background-color: var(--green-lighter);
                  color: var(--light);
                }
              }
            }
          }
          &:hover {
            & > a,
            & > span {
              outline: 1px solid var(--borders);
            }

            &:not(.closed) {
              ul {
                display: block;
                opacity: 1;
                transform: scale(1);
              }
              &.submenu a:after,
              &.submenu span:after {
                transform: rotate(225deg);
                margin: 0 0 0px 8px;
              }
            }
          }

          &.submenu {
            > a:after,
            > span:after {
              // Chevron on right side
              content: "";
              border: solid var(--font-color);
              border-width: 0 2px 2px 0;
              display: inline-block;
              margin: 0 0 3px 8px;
              padding: 3px;
              transform: rotate(45deg);
            }
          }
        }
      }
    }

    .wrapper {
      .mobile-navbar {
        display: none;
      }
    }
  }
}
