@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons|Material+Icons+Outlined");

// Responsive sizes
$xs-min: 360px;
$s-min: 480px;
$m-min: 768px;
$l-min: 992px;
$xl-min: 1200px;
$xxl-min: 1400px;

// Options
$gutter: 24px;
$font-size: 16px;

// Colors
$dark: rgb(28, 32, 33);
$light: rgb(255, 255, 255);

$font-color: rgba($dark, .75);
$font-color-lighter: rgba($dark, .5);
$font-color-hover: rgba($dark, .85);
$background: rgba($dark, .05);
$shadow: rgba($dark, .25);

$font-color-inverted: rgba($light, 0.75);
$font-color-inverted-hover: rgba($light, 1);
$borders-inverted: rgba($light, .05);
$background-inverted: rgba($dark, .95);

$white: $light;
$purple: rgba(69, 48, 64, 1);
$purple-lighter: rgba($purple, .75);
$green: rgba(57, 162, 150, 1);
$green-lighter: rgba(131, 211, 201, 1);

$breakpoints: (
  'xs': (min-width: $xs-min),
  's': (min-width: $s-min),
  'm': (min-width: $m-min),
  'l': (min-width: $l-min),
  'xl': (min-width: $xl-min),
  'xxl': (min-width: $xxl-min)
);

@mixin mq($breakpoint) {
  @if map-has-key($breakpoints, $breakpoint) {
    @media only screen and #{inspect(map-get($breakpoints, $breakpoint))} {
      @content;
    }
  }
}

@mixin grid-media-query($media-query) {
  $breakpoint-found: false;

  @each $name, $declaration in $breakpoints {
    @if $media-query == $name and $declaration {
      $breakpoint-found: true;

      @media only screen and #{inspect($declaration)} {
        @content;
      }
    }
  }
}

.col .row {
  margin-left: (-1 * $gutter / 2);
  margin-right: (-1 * $gutter / 2);
}

.row {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  &:after {
    content: "";
    display: table;
    clear: both;
  }
  .col {
    float: left;
    box-sizing: border-box;
    padding: 0 $gutter / 2;
    min-height: 1px;
    margin-left: auto;
    left: auto;
    right: auto;
    width: 100%;
  }
}

@mixin device-type($namespace: "") {
  $prefix: unquote(".") + $namespace;

  @for $grid-column from 1 through 12 {
    @if $grid-column != 11 and $grid-column != 9 and $grid-column != 7 {
      @for $i from 1 through $grid-column {
        .col#{$prefix}u-#{$i}\/#{$grid-column} {
          width: calc(#{$i} * 100% / #{$grid-column});
        }
      }
    }
  }
}

@include device-type();
@each $breakpoint, $declaration in $breakpoints {
  @include grid-media-query($breakpoint) {
    @include device-type("#{$breakpoint}--");
  }
}

// Start page styling
html,
body {
  margin: 0;
  padding: 0;
  font-family: Lato, sans-serif;
  font-size: $font-size;
  font-weight: 300;
  letter-spacing: .025em;
  scroll-behavior: smooth;
  color: $font-color;
  &.no-scroll {
    overflow: hidden;
    body, ._container {
      //width: 100%;
      //height: 100vh;
      overflow: hidden;
      position: relative;

    }
    @include mq('m') {
      overflow-y: auto;
      body, ._container {
      overflow: auto;
      position: relative;

    }
    }
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: uppercase;
  font-weight: 300;
  text-align: center;
  margin: 24px 0;
  span {
    font-weight: 900;
  }
}
h2 {
  font-size: 26px;
}
p {
  font-size: 17px;
}
a {
  text-decoration: none;
  color: $font-color;
  & {
    //transition: all .3s ease-in-out;
  }
  &:hover {
    color: $font-color-hover;
  }
}
.text-center {
  text-align: center;
}
.no-scroll {
  overflow: hidden;
}
input#toggler {
  display: none;
}

/* PAGE LAYOUT */
.wrapper {
  background-color: linear-gradient(to bottom, rgba(30,87,153,0.5) 0%,rgba(255,255,255,0) 25%);
  transition: margin .3s ease-in-out;
  width: 100%;
  .content {
    margin: 56px auto 0 auto;
    background-color: $background;
    width: 100%;

    section {
      margin-top: 0px;
      padding: 56px 24px 48px 24px;
      @include mq(s) {
        padding: 56px 48px;
      }
      @include mq(m) {
        &:first-of-type {
          margin-top: 24px;
        }
        padding: 56px 48px 48px 48px;
        margin-left: 24px;
        margin-right: 24px;
      }
      @include mq(l) {
        max-width: calc(960px - 96px);
        margin-left: auto;
        margin-right: auto;
        h1,h2,h3 {
          margin: 36px 0;
        }
        h3 {
          margin: 48px 0 36px 0;
        }
      }
      @include mq(xl) {
        max-width: 1024px;
      }
      @include mq(xxl) {
        max-width: 1200px;
      }
      &:nth-child(odd) {
        background-color: white;
      }
      &.about {
        .col p:first-child {
          margin-top: 0;
        }
        img {
          max-width: 100%;
          width: 100%;
          border-radius: 5px;
          margin-bottom: 36px;
        }
      }
      &.join-me {
        a {
          span.material-icons {
            font-size: 56px;
            color: $purple-lighter;
            margin-top: 16px;
          }
          &:hover {
            span.material-icons {
              color: $purple;
            }
          }
        }

      }
      &.find-me {
        // background-color: $green;
        background: linear-gradient(180deg, $green 0%, $green-lighter 100%);
        color: #fff;

        iframe {
          width: 80%;
          height: 250px;
        }
      }
    }
  }
  .content {
    margin-top: 0;
  }
}

/* MOBILE NAVIGATION */
@media only screen and (max-width: 767px) {
  .container.top, .container.up {
    .wrapper .mobile-navbar {
      background: none;
      box-shadow: none;
      .title {
        display: none;
      }
    }
  }
  input#toggler {
    display: none;

    &:checked {
      ~ nav {
        transform: translateX(0);
        display: block;
        left: 0px;
      }
      ~ .wrapper {
        //max-height: 100vh;
        //max-width: calc(100vw - 275px);
        margin-left: 275px;
        overflow: hidden;
        .title,
        .content {
          //opacity: .5;
          //filter: blur(1px);
        }
        .toggler-wrapper {
          background: white;
          position: fixed;
          opacity: .01;
          width: 100%;
          height: 100vh;
          z-index: 2;
          cursor: pointer;
        }
        .toggler .navicon {
          background: transparent;
          &:before {
            transform: rotate(-45deg);
            top: 0;
          }
          &:after {
            transform: rotate(45deg);
            top: 0;
          }
        }
      }
    }
  }
  nav {
    transition: transform .3s ease-in-out;
    transform: translateX(-275px);
    position: fixed;
    left: 0;
    overflow-y: auto;
    width: 275px;
    height: 100vh;
    background-color: $background-inverted;
    float: left;
    top: 0;
    color: #fff;
    display: block;
    padding: 10px 10px;
    box-sizing: border-box;
    .title {
      display: none;
    }
    ul,
    li {
      margin: 0;
      padding: 0;
      list-style: none;
    }
    ul {
      li {
        font-size: 18px;
        // cursor: pointer;
        &:first-child a {
          border-top-width: 0px;
        }
        a, span {
          text-transform: uppercase;
          user-select: none;
          color: $font-color-inverted;
          border-top: 1px solid $borders-inverted;
          padding: 12px 0;
          text-decoration: none;
          display: block;
          font-weight: 900;
        }
        a:hover {
          color: $font-color-inverted-hover;
        }
        ul li {
          &:first-child a, &:first-child span {
            border-top-width: 1px;
          }
          a, span {
            padding-left: 12px;
            font-weight: 300;
          }
        }
      }
    }
  }
  .wrapper {
    .mobile-navbar {
      position: fixed;
      z-index: 1;
      background: $light;
      box-shadow: 0 1px 2px 0 $shadow;
      display: inline-block;
      width: 100%;
      font-size: 18px;
      line-height: 56px;
      .title {
        display: block;
        z-index: 0;
        text-transform: uppercase;
        padding-left: 0px;
        font-weight: 900;
        height: 56px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        a {
          color: $font-color;
          text-decoration: none;
        }
        span {
          font-weight: 300;
        }
      }
      label.toggler {
        cursor: pointer;
        display: block;
        float: left;
        width: 36px;
        height: 34px;
        margin: 11px 6px;
        background: $font-color-inverted;
        border-radius: 5px;
        .navicon {
          background: $font-color;
          display: block;
          height: 3px;
          position: absolute;
          top: 26px;
          left: 12px;
          transition: background .5s ease-in-out;
          width: 24px;
          &:before,
          &:after {
            background: $font-color;
            content: "";
            left: 0px;
            display: block;
            height: 100%;
            position: absolute;
            transition: all 0.5s ease-in-out;
            width: 100%;
          }
          &:before {
            top: 7px;
          }
          &:after {
            top: -7px;
          }
        }
      }
    }
  }
}

//* DESKTOP NAVIGATION */
@include mq(m) {
  .container.top, .container.up {
    #banner {
      position: relative;
      &:after {
        position: absolute;
        pointer-events: none;
        content: "";
        height: 200px;
        width: 100%;
        top: 0;
        left: 0;
        background: linear-gradient(to bottom, rgba($dark,.75) 0%,rgba($green,0) 100%);
      }}
    nav {
      position: absolute;
      display: block;
      background: none;
      box-shadow: none;
      .title a  {
          color: $font-color-inverted;
      }
      ul {
        li {
          > a, > span {
            color: $font-color-inverted;
            outline: 0px solid $font-color-inverted;

            &:hover {
              background-color: transparent;
              outline: 1px solid $font-color-inverted;
              color: $font-color-inverted-hover;
            }
          }
          &.submenu a:after, &.submenu span:after {
            border-color: $font-color-inverted;
          }
          &:hover{
            > a, > span {
              outline: 1px solid $font-color-inverted;
              color: $font-color-inverted-hover;
              &.button.primary {
                outline: none;
              }
            }
          }

          ul li a {
            outline: none;
            color: $font-color;
            &:hover {
              outline: none;
              color: $font-color-inverted-hover;
              background: $green-lighter;
            }
          }
        }
      }
    }
  }
  nav {
    display: block;
    z-index: 1;
    position: fixed;
    height: 56px;
    width: 100%;
    background: $white;
    box-shadow: 0 1px 2px 0 $shadow;
    .title {
      font-size: 18px;
      line-height: 56px;
      display: block;
      text-transform: uppercase;
      padding-left: 0px;
      font-weight: 900;
      height: 56px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      float: left;
      margin-left: 40px;
      a {
        color: $font-color;
        text-decoration: none;
      }
      span {
        font-weight: 300;
      }
    }

    ul,
    li {
      margin: 0;
      padding: 0;
      list-style: none;
    }
    ul {
      float: right;
      margin-right: 40px;
      li {
        display: inline-block;
        a, span {
          &:hover {
            user-select: none;
            background-color: $background;
            outline: 1px solid $font-color-inverted;
          }
          text-transform: uppercase;
          display: inline-block;
          padding: 10px 16px;
          margin: 10px;
          color: $font-color;
          text-decoration: none;
          outline: 0px solid $font-color-inverted;
          &.button.primary {
            background-color: $green;
            color: white;
            font-weight: 900;
            &:hover {
              background-color: $green-lighter;
              outline: none;
            }
          }
          &:hover {
            color: black;
            background-color: $background;
          }
        }

        &.current {
          font-weight: 900;
        }
                // submenu
        ul {
          transition: opacity .3s ease-in-out;
          //float: none;
          transform: scale(0);
          display: block; // don't display none to use transition
          opacity: 0;
          position: absolute;
          background-color: $white;
          margin: 12px 0 0 0;
          padding: 12px 0;
          box-shadow: 0 1px 2px 0 $shadow;
          &:before {
            border-bottom: solid 0.5em $white;
            border-left: solid .5em transparent;
            border-right: solid .5em transparent;
            content: "";
            left: .75em;
            position: absolute;
            top: -.45em;
          }
          &:after {
            content: "";
            width: 100%;
            position: absolute;
            height: 20px;
            top: -18px;
          }

          li {
            display: block;
            &:first-child a {
              border-top: 0px;
            }
            a {
              margin: 0;
              padding: 10px 36px;
              width: 100%;
              max-width: 130px;
              font-size: 14px;
              border-top: 1px solid $background;
              background-color: $white;
              outline: none;
              &:hover {
                outline: none;
                background-color: $green-lighter;
                color: $white;
              }
            }
          }
        }
        &:hover {
          ul {
            display: block;
            opacity: 1;
            transform: scale(1);
          }

          &.submenu a:after, &.submenu span:after {
            transform: rotate(225deg);
            margin: 0 0 0px 8px;
            border-color: $font-color-hover;
          }

          a, span {
            outline: 1px solid $font-color-inverted;
          }
        }
        &.submenu {
          > a:after, > span:after {
            content: "";
            border: solid $font-color;
            border-width: 0 2px 2px 0;
            display: inline-block;
            margin: 0 0 3px 8px;
            padding: 3px;
            transform: rotate(45deg);
          }
        }
      }
    }
  }
  .wrapper {
    /*
    width: calc(100% - 40px);
    padding: 20px;
    background-color: $background;
    */
    .mobile-navbar {
      display: none;
    }
  }
}

/* HOME BANNER */
#banner {
  width: 100%;
  max-width: 100%;
  //min-height: 50vh;
  margin: 0;
  text-align: center;
  color: $font-color-inverted;
  cursor: default;
  padding: 6em 0 6em 0;
  text-align: center;
  background-attachment: scroll, scroll;
  background-color: $purple-lighter;
  background-image: url("https://sarah.dionne.ch/assets/img/20201024_143714.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  .inner {
    &:before {
      content: none;
      display: block;
      width: 100%;
      height: 300px;
      margin-bottom: 24px;
      background-image: url("https://sarah.dionne.ch/assets/img/logo_white.svg");
      background-position: center top;
      background-repeat: no-repeat;
      background-size: contain;
      }
    color: $font-color-inverted;
    display: inline-block;
    padding: 3em 3em 0 3em;
    text-align: center;
    vertical-align: middle;

    header {
      display: inline-block;
      border-bottom: solid 2px;
      border-top: solid 2px;
      margin: 0 0 2em 0;
      padding: 3px 0 3px 0;

      h2 {
        text-shadow: 0px 0px 10px #000000;
        border-bottom: solid 2px;
        border-top: solid 2px;
        font-size: 2.5em;
        font-weight: 900;
        letter-spacing: 0.2em;
        margin: 0;
        padding-left: 0.05em;
        position: relative;
        text-transform: uppercase;
        a {
          text-decoration: none;
          color: $white;
        }
        span {
          font-weight: 300;
        }
      }
    }
    p {
      text-shadow: 0px 0px 10px $dark, 0px 0px 10px $dark;
      letter-spacing: 0.1em;
      margin: 0;
      text-transform: uppercase;
    }
    footer {
      padding-top: 12px;
      ul {
        margin: o;
        padding: 0;
        li {
          list-style-type: none;
          display: inline-block;

          a {
            color: $font-color-inverted;
            padding: 12px 18px;
            transition: color .3s ease-in-out;

            &:hover {
              color: $font-color-inverted-hover;
            }

            span {
              border-radius: 50%;
              font-size: 36px;
            }

            @include mq(m) {
              padding: 12px 24px;
              span {
                transition: background-color .3s ease-in-out;
                border: 1px solid $font-color-inverted;
                border-radius: 50%;
                padding: 16px;
                font-size: 36px;
              }
              &:hover {
                span {
                  background-color: rgba(255, 255, 255, 0.125);
                  outline: 1px solid $font-color-inverted-hover;
                }
              }
            }
          }

          &:first-child a {
            padding-left: 0;
          }
          &:last-child a {
            padding-right: 0;
          }
        }
      }
    }
  }
}
