@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons|Material+Icons+Outlined&display=swap");
.col .row {
  margin-left: -12px;
  margin-right: -12px;
}

.row {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
.row .col {
  float: left;
  box-sizing: border-box;
  padding: 0 12px;
  min-height: 1px;
  margin-left: auto;
  left: auto;
  right: auto;
  width: 100%;
}

.col.u-1\/2 {
  width: calc(1 * 100% / 2);
}

.col.u-1\/3 {
  width: calc(1 * 100% / 3);
}

.col.u-2\/3 {
  width: calc(2 * 100% / 3);
}

@media only screen and (min-width: 360px) {
  .col.xs--u-1\/2 {
    width: calc(1 * 100% / 2);
  }

  .col.xs--u-1\/3 {
    width: calc(1 * 100% / 3);
  }

  .col.xs--u-2\/3 {
    width: calc(2 * 100% / 3);
  }
}
@media only screen and (min-width: 480px) {
  .col.s--u-1\/2 {
    width: calc(1 * 100% / 2);
  }

  .col.s--u-1\/3 {
    width: calc(1 * 100% / 3);
  }

  .col.s--u-2\/3 {
    width: calc(2 * 100% / 3);
  }
}
@media only screen and (min-width: 768px) {
  .col.m--u-1\/2 {
    width: calc(1 * 100% / 2);
  }

  .col.m--u-1\/3 {
    width: calc(1 * 100% / 3);
  }

  .col.m--u-2\/3 {
    width: calc(2 * 100% / 3);
  }
}
@media only screen and (min-width: 992px) {
  .col.l--u-1\/2 {
    width: calc(1 * 100% / 2);
  }

  .col.l--u-1\/3 {
    width: calc(1 * 100% / 3);
  }

  .col.l--u-2\/3 {
    width: calc(2 * 100% / 3);
  }
}
@media only screen and (min-width: 1200px) {
  .col.xl--u-1\/2 {
    width: calc(1 * 100% / 2);
  }

  .col.xl--u-1\/3 {
    width: calc(1 * 100% / 3);
  }

  .col.xl--u-2\/3 {
    width: calc(2 * 100% / 3);
  }
}
@media only screen and (min-width: 1400px) {
  .col.xxl--u-1\/2 {
    width: calc(1 * 100% / 2);
  }

  .col.xxl--u-1\/3 {
    width: calc(1 * 100% / 3);
  }

  .col.xxl--u-2\/3 {
    width: calc(2 * 100% / 3);
  }
}
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: Lato, sans-serif;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 0.025em;
  scroll-behavior: smooth;
  color: rgba(28, 32, 33, 0.75);
}

html.no-scroll-mobile {
  overflow-y: hidden;
}
html.no-scroll-mobile body {
  overflow: hidden;
  position: relative;
}
@media only screen and (min-width: 768px) {
  html.no-scroll-mobile {
    overflow-y: auto;
  }
  html.no-scroll-mobile body {
    overflow: auto;
    position: relative;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: uppercase;
  font-weight: 300;
  text-align: center;
  margin: 24px 0;
}
h1 span,
h2 span,
h3 span,
h4 span,
h5 span,
h6 span {
  font-weight: 900;
}

h2 {
  font-size: 26px;
}

p {
  font-size: 17px;
  margin: 12px 0;
}

a {
  text-decoration: none;
  color: rgba(28, 32, 33, 0.75);
}
a:hover {
  color: rgba(28, 32, 33, 0.85);
}

.text-center {
  text-align: center;
}

input#toggler {
  display: none;
}

/* PAGE LAYOUT */
.wrapper {
  transition: margin 0.3s ease-in-out;
  width: 100%;
}
.wrapper .content {
  margin: 56px auto 0 auto;
  background-color: rgba(28, 32, 33, 0.05);
  width: 100%;
}
.wrapper .content section {
  margin-top: 0px;
  padding: 56px 24px 48px 24px;
}
@media only screen and (min-width: 480px) {
  .wrapper .content section {
    padding: 56px 48px;
  }
}
@media only screen and (min-width: 768px) {
  .wrapper .content section {
    padding: 56px 48px 48px 48px;
    margin-left: 24px;
    margin-right: 24px;
  }
  .wrapper .content section:first-of-type {
    margin-top: 24px;
  }
}
@media only screen and (min-width: 992px) {
  .wrapper .content section {
    max-width: calc(960px - 96px);
    margin-left: auto;
    margin-right: auto;
  }
  .wrapper .content section h1, .wrapper .content section h2, .wrapper .content section h3 {
    margin: 36px 0;
  }
  .wrapper .content section h3 {
    margin: 48px 0 36px 0;
  }
}
@media only screen and (min-width: 1200px) {
  .wrapper .content section {
    max-width: 1024px;
  }
}
@media only screen and (min-width: 1400px) {
  .wrapper .content section {
    max-width: 1200px;
  }
}
.wrapper .content section:nth-child(odd) {
  background-color: white;
}
.wrapper .content section.about .col p:first-child {
  margin-top: 0;
}
.wrapper .content section.about .col--text-around-img {
  padding: 0;
}
.wrapper .content section.about .col--text-around-img p {
  padding: 12px;
}
.wrapper .content section.about .col--text-around-img img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  max-width: calc(100% - 24px);
  margin: 0 12px;
}
@media only screen and (min-width: 360px) {
  .wrapper .content section.about .col--text-around-img img {
    margin: 12px 24px 12px 12px;
    max-width: calc((1 * 100% / 2) - 24px);
    float: left;
  }
  .wrapper .content section.about .col--text-around-img img.right {
    float: right;
    margin: 12px 12px 24px 12px;
  }
}
@media only screen and (min-width: 480px) {
  .wrapper .content section.about .col--text-around-img img {
    max-width: calc((1 * 100% / 3) - 24px);
  }
}
.wrapper .content section.join-me a span.material-icons {
  font-size: 56px;
  color: rgba(69, 48, 64, 0.75);
  margin-top: 16px;
}
.wrapper .content section.join-me a:hover span.material-icons {
  color: #453040;
}
.wrapper .content section.find-me {
  background: linear-gradient(180deg, #43aca0 0%, #83d3c9 100%);
  color: #fff;
}
.wrapper .content section.find-me iframe {
  width: 80%;
  height: 250px;
}
.wrapper .content {
  margin-top: 0;
}

/* MOBILE NAVIGATION */
@media only screen and (max-width: 767px) {
  .container.banner-intersecting .wrapper .mobile-navbar {
    background: none;
    box-shadow: none;
  }
  .container.banner-intersecting .wrapper .mobile-navbar .title {
    display: none;
  }

  input#toggler {
    display: none;
  }
  input#toggler:checked ~ nav {
    transform: translateX(0);
    display: block;
    left: 0px;
  }
  input#toggler:checked ~ .wrapper {
    margin-left: 275px;
    overflow: hidden;
  }
  input#toggler:checked ~ .wrapper .toggler-wrapper {
    background: white;
    position: fixed;
    opacity: 0.01;
    width: 100%;
    height: 100vh;
    z-index: 2;
    cursor: pointer;
  }
  input#toggler:checked ~ .wrapper .toggler .navicon {
    background: transparent;
  }
  input#toggler:checked ~ .wrapper .toggler .navicon:before {
    transform: rotate(-45deg);
    top: 0;
  }
  input#toggler:checked ~ .wrapper .toggler .navicon:after {
    transform: rotate(45deg);
    top: 0;
  }

  nav {
    transition: transform 0.3s ease-in-out;
    transform: translateX(-275px);
    position: fixed;
    left: 0;
    overflow-y: auto;
    width: 275px;
    height: 100vh;
    background-color: rgba(28, 32, 33, 0.95);
    float: left;
    top: 0;
    color: #fff;
    display: block;
    padding: 10px 10px;
    box-sizing: border-box;
  }
  nav .title {
    display: none;
  }
  nav ul,
nav li {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  nav ul li {
    font-size: 18px;
  }
  nav ul li:first-child a {
    border-top-width: 0px;
  }
  nav ul li a, nav ul li span {
    text-transform: uppercase;
    user-select: none;
    color: rgba(255, 255, 255, 0.75);
    border-top: 1px solid rgba(255, 255, 255, 0.05);
    padding: 12px 0;
    text-decoration: none;
    display: block;
    font-weight: 900;
  }
  nav ul li a:hover {
    color: white;
  }
  nav ul li ul li:first-child a, nav ul li ul li:first-child span {
    border-top-width: 1px;
  }
  nav ul li ul li a, nav ul li ul li span {
    padding-left: 12px;
    font-weight: 300;
  }

  .wrapper .mobile-navbar {
    position: fixed;
    z-index: 1;
    background: white;
    box-shadow: 0 1px 2px 0 rgba(28, 32, 33, 0.25);
    display: inline-block;
    width: 100%;
    font-size: 18px;
    line-height: 56px;
  }
  .wrapper .mobile-navbar .title {
    display: block;
    z-index: 0;
    text-transform: uppercase;
    padding-left: 0px;
    font-weight: 900;
    height: 56px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .wrapper .mobile-navbar .title a {
    color: rgba(28, 32, 33, 0.75);
    text-decoration: none;
  }
  .wrapper .mobile-navbar .title span {
    font-weight: 300;
  }
  .wrapper .mobile-navbar label.toggler {
    cursor: pointer;
    display: block;
    float: left;
    width: 36px;
    height: 34px;
    margin: 11px 6px;
    background: rgba(255, 255, 255, 0.75);
    border-radius: 5px;
  }
  .wrapper .mobile-navbar label.toggler .navicon {
    background: rgba(28, 32, 33, 0.75);
    display: block;
    height: 3px;
    position: absolute;
    top: 26px;
    left: 12px;
    transition: background 0.5s ease-in-out;
    width: 24px;
  }
  .wrapper .mobile-navbar label.toggler .navicon:before, .wrapper .mobile-navbar label.toggler .navicon:after {
    background: rgba(28, 32, 33, 0.75);
    content: "";
    left: 0px;
    display: block;
    height: 100%;
    position: absolute;
    transition: all 0.5s ease-in-out;
    width: 100%;
  }
  .wrapper .mobile-navbar label.toggler .navicon:before {
    top: 7px;
  }
  .wrapper .mobile-navbar label.toggler .navicon:after {
    top: -7px;
  }
}
@media only screen and (min-width: 768px) {
  .container.banner-intersecting #banner {
    position: relative;
  }
  .container.banner-intersecting #banner:after {
    position: absolute;
    pointer-events: none;
    content: "";
    height: 100px;
    width: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(to bottom, rgba(0, 37, 64, 0.65) 0%, rgba(0, 37, 64, 0.1) 60%, rgba(0, 37, 64, 0) 90%);
  }
  .container.banner-intersecting nav {
    top: 0;
    position: absolute;
    display: block;
    background: none;
    box-shadow: none;
  }
  .container.banner-intersecting nav .title a {
    color: rgba(255, 255, 255, 0.75);
  }
  .container.banner-intersecting nav ul li > a, .container.banner-intersecting nav ul li > span {
    color: rgba(255, 255, 255, 0.75);
    outline: 0px solid rgba(255, 255, 255, 0.75);
  }
  .container.banner-intersecting nav ul li > a:hover, .container.banner-intersecting nav ul li > span:hover {
    background-color: transparent;
    outline: 1px solid rgba(255, 255, 255, 0.75);
    color: white;
  }
  .container.banner-intersecting nav ul li > a.primary, .container.banner-intersecting nav ul li > span.primary {
    color: white;
  }
  .container.banner-intersecting nav ul li.submenu a:after, .container.banner-intersecting nav ul li.submenu span:after, .container.banner-intersecting nav ul li:hover.submenu a:after, .container.banner-intersecting nav ul li:hover.submenu span:after {
    border-color: rgba(255, 255, 255, 0.75);
  }
  .container.banner-intersecting nav ul li:hover > a, .container.banner-intersecting nav ul li:hover > span {
    outline: 1px solid rgba(255, 255, 255, 0.75);
    color: white;
  }
  .container.banner-intersecting nav ul li:hover > a.primary, .container.banner-intersecting nav ul li:hover > span.primary {
    outline: none;
    color: white;
    background: #83d3c9;
  }
  .container.banner-intersecting nav ul li ul li a {
    outline: none;
    color: rgba(28, 32, 33, 0.75);
  }
  .container.banner-intersecting nav ul li ul li a:hover {
    outline: none;
    color: white;
    background: #83d3c9;
  }

  nav {
    display: block;
    z-index: 1;
    position: fixed;
    top: 0;
    height: 56px;
    width: 100%;
    background: white;
    box-shadow: 0 1px 2px 0 rgba(28, 32, 33, 0.25);
  }
  nav .title {
    font-size: 18px;
    line-height: 56px;
    display: block;
    text-transform: uppercase;
    padding-left: 0px;
    font-weight: 900;
    height: 56px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    float: left;
    margin-left: 40px;
  }
  nav .title a {
    color: rgba(28, 32, 33, 0.75);
    text-decoration: none;
  }
  nav .title span {
    font-weight: 300;
  }
  nav ul,
nav li {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  nav ul {
    float: right;
    margin-right: 40px;
  }
  nav ul li {
    display: inline-block;
  }
  nav ul li a, nav ul li span {
    text-transform: uppercase;
    display: inline-block;
    padding: 10px 16px;
    margin: 10px;
    color: rgba(28, 32, 33, 0.75);
    text-decoration: none;
    outline: 0px solid rgba(255, 255, 255, 0.75);
  }
  nav ul li a:hover, nav ul li span:hover {
    user-select: none;
    background-color: rgba(28, 32, 33, 0.05);
    outline: 1px solid rgba(255, 255, 255, 0.75);
  }
  nav ul li a.primary, nav ul li span.primary {
    background-color: #43aca0;
    color: white;
    font-weight: 900;
  }
  nav ul li a.primary:hover, nav ul li span.primary:hover {
    background-color: #83d3c9;
    outline: none;
    color: white;
  }
  nav ul li a:hover, nav ul li span:hover {
    color: black;
    background-color: rgba(28, 32, 33, 0.05);
  }
  nav ul li.current {
    font-weight: 900;
  }
  nav ul li ul {
    transition: opacity 0.3s ease-in-out;
    transform: scale(0);
    display: block;
    opacity: 0;
    position: absolute;
    background-color: white;
    margin: 12px 0 0 0;
    padding: 12px 0;
    box-shadow: 0 1px 2px 0 rgba(28, 32, 33, 0.25);
  }
  nav ul li ul:before {
    border-bottom: solid 0.5em white;
    border-left: solid 0.5em transparent;
    border-right: solid 0.5em transparent;
    content: "";
    left: 0.75em;
    position: absolute;
    top: -0.45em;
  }
  nav ul li ul:after {
    content: "";
    width: 100%;
    position: absolute;
    height: 20px;
    top: -18px;
  }
  nav ul li ul li {
    display: block;
  }
  nav ul li ul li:first-child a {
    border-top: 0px;
  }
  nav ul li ul li a {
    margin: 0;
    padding: 10px 36px;
    width: 100%;
    max-width: 200px;
    font-size: 14px;
    border-top: 1px solid rgba(28, 32, 33, 0.05);
    background-color: white;
    outline: none;
  }
  nav ul li ul li a:hover {
    outline: none;
    background-color: #83d3c9;
    color: white;
  }
  nav ul li:not(.closed):hover ul {
    display: block;
    opacity: 1;
    transform: scale(1);
  }
  nav ul li:not(.closed):hover.submenu a:after, nav ul li:not(.closed):hover.submenu span:after {
    transform: rotate(225deg);
    margin: 0 0 0px 8px;
    border-color: rgba(28, 32, 33, 0.85);
  }
  nav ul li:not(.closed):hover a, nav ul li:not(.closed):hover span {
    outline: 1px solid rgba(255, 255, 255, 0.75);
  }
  nav ul li.submenu > a:after, nav ul li.submenu > span:after {
    content: "";
    border: solid rgba(28, 32, 33, 0.75);
    border-width: 0 2px 2px 0;
    display: inline-block;
    margin: 0 0 3px 8px;
    padding: 3px;
    transform: rotate(45deg);
  }

  .wrapper {
    /*
    width: calc(100% - 40px);
    padding: 20px;
    background-color: $background;
    */
  }
  .wrapper .mobile-navbar {
    display: none;
  }
}
/* HOME BANNER */
#banner {
  width: 100%;
  max-width: 100%;
  max-height: 100vh;
  min-height: 400px;
  position: relative;
  overflow: hidden;
  margin: 0;
  text-align: center;
  color: rgba(255, 255, 255, 0.75);
  cursor: default;
  padding: 0;
  height: 400px;
  text-align: center;
  background-attachment: scroll, scroll;
  background-color: rgba(69, 48, 64, 0.75);
  background-position: bottom;
  background-repeat: no-repeat;
  background-attachment: inherit;
  background-size: cover;
  background-image: url("https://ik.imagekit.io/sarahdionne/hero/webp/20201024_143714_new_tD60O1-pB.webp");
  perspective: 1px;
}
@media only screen and (min-width: 992px) {
  #banner {
    min-height: 70vh;
  }
}
#banner .bg, #banner .mg, #banner .fg {
  transition: transform 1s ease-out;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-position: bottom;
  background-repeat: no-repeat;
  background-attachment: inherit;
  background-size: cover;
}
#banner .inner {
  margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgba(255, 255, 255, 0.75);
  display: inline-block;
  padding: 0;
  min-width: 275px;
  text-align: center;
  vertical-align: middle;
}
#banner .inner:before {
  content: none;
  display: block;
  width: 100%;
  height: 300px;
  margin-bottom: 24px;
  background-position: center top;
  background-repeat: no-repeat;
  background-size: contain;
}
@media only screen and (min-width: 480px) {
  #banner .inner {
    min-width: 90vw;
  }
}
@media only screen and (min-width: 768px) {
  #banner .inner {
    padding-top: 72px;
  }
}
#banner .inner header {
  display: inline-block;
  border-bottom: solid 2px;
  border-top: solid 2px;
  margin: 0 0 2em 0;
  padding: 3px 0 3px 0;
}
#banner .inner header h2 {
  text-shadow: 0px 0px 10px #002540;
  border-bottom: solid 2px;
  border-top: solid 2px;
  font-size: 2.5em;
  font-weight: 900;
  letter-spacing: 0.2em;
  margin: 0;
  padding-left: 0.05em;
  position: relative;
  text-transform: uppercase;
}
#banner .inner header h2 a {
  text-decoration: none;
  color: white;
}
#banner .inner header h2 span {
  font-weight: 300;
}
#banner .inner p {
  text-shadow: 0px 0px 10px #002540, 0px 0px 10px #002540;
  letter-spacing: 0.1em;
  margin: 0;
  text-transform: uppercase;
}
#banner .inner footer {
  padding-top: 12px;
}
#banner .inner footer ul {
  margin: 0;
  padding: 0;
}
#banner .inner footer ul li {
  list-style-type: none;
  display: inline-block;
}
#banner .inner footer ul li a {
  text-shadow: 0px 0px 10px #002540;
  color: rgba(255, 255, 255, 0.75);
  padding: 12px 18px;
  transition: color 0.3s ease-in-out;
}
#banner .inner footer ul li a:hover {
  color: white;
}
#banner .inner footer ul li a span {
  border-radius: 50%;
  font-size: 36px;
}
@media only screen and (min-width: 768px) {
  #banner .inner footer ul li a {
    padding: 12px 24px;
  }
  #banner .inner footer ul li a span {
    transition: background-color 0.3s ease-in-out;
    border: 1px solid rgba(255, 255, 255, 0.75);
    border-radius: 50%;
    box-shadow: 0px 0px 10px rgba(0, 37, 64, 0.3);
    padding: 16px;
    font-size: 36px;
  }
  #banner .inner footer ul li a:hover span {
    background-color: rgba(255, 255, 255, 0.125);
    outline: 1px solid white;
  }
}
#banner .inner footer ul li:first-child a {
  padding-left: 0;
}
#banner .inner footer ul li:last-child a {
  padding-right: 0;
}
