@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons|Material+Icons+Outlined");
.grid {
  font-size: 0;
}

.grid > * {
  font-size: medium;
  /* IE */
  font-size: initial;
}

/*------------------------------------*\
    $CSSWIZARDRY-GRIDS
\*------------------------------------*/
/**
 * CONTENTS
 * INTRODUCTION.........How the grid system works.
 * VARIABLES............Your settings.
 * MIXINS...............Library mixins.
 * GRID SETUP...........Build the grid structure.
 * WIDTHS...............Build our responsive widths around our breakpoints.
 * PUSH.................Push classes.
 * PULL.................Pull classes.
 */
/*------------------------------------*\
    $INTRODUCTION
\*------------------------------------*/
/**
 * csswizardry grids provides you with widths to suit a number of breakpoints
 * designed around devices of a size you specify. Out of the box, csswizardry
 * grids caters to the following types of device:
 *
 * palm     --  palm-based devices, like phones and small tablets
 * lap      --  lap-based devices, like iPads or laptops
 * portable --  all of the above
 * desk     --  stationary devices, like desktop computers
 * regular  --  any/all types of device
 *
 * These namespaces are then used in the library to give you the ability to
 * manipulate your layouts based around them, for example:
 *
   <div class="grid__item  one-whole  lap--one-half  desk--one-third">
 *
 * This would give you a grid item which is 100% width unless it is on a lap
 * device, at which point it become 50% wide, or it is on a desktop device, at
 * which point it becomes 33.333% width.
 *
 * csswizardry grids also has push and pull classes which allow you to nudge
 * grid items left and right by a defined amount. These follow the same naming
 * convention as above, but are prepended by either `push--` or `pull--`, for
 * example:
 *
   `class="grid__item  one-half  push--one-half"`
 *
 * This would give you a grid item which is 50% width and pushed over to the
 * right by 50%.
 *
 * All classes in csswizardry grids follow this patten, so you should fairly
 * quickly be able to piece together any combinations you can imagine, for
 * example:
 *
   `class="grid__item  one-whole  lap--one-half  desk--one-third  push--desk--one-third"`
 *
   `class="grid__item  one-quarter  palm--one-half  push--palm--one-half"`
 *
   `class="grid__item  palm--one-third  desk--five-twelfths"`
 */
/*------------------------------------*\
    $VARIABLES
\*------------------------------------*/
/**
 * If you are building a non-responsive site but would still like to use
 * csswizardry-grids, set this to ‘false’:
 */
/**
 * Is this build mobile first? Setting to ‘true’ means that all grids will be
 * 100% width if you do not apply a more specific class to them.
 */
/**
 * Set the spacing between your grid items.
 */
/**
 * Would you like Sass’ silent classes, or regular CSS classes?
 */
/**
 * Would you like push and pull classes enabled?
 */
/**
 * Using `inline-block` means that the grid items need their whitespace removing
 * in order for them to work correctly. Set the following to true if you are
 * going to achieve this by manually removing/commenting out any whitespace in
 * your HTML yourself.
 *
 * Setting this to false invokes a hack which cannot always be guaranteed,
 * please see the following for more detail:
 *
 * github.com/csswizardry/csswizardry-grids/commit/744d4b23c9d2b77d605b5991e54a397df72e0688
 * github.com/csswizardry/inuit.css/issues/170#issuecomment-14859371
 */
/**
 * Define your breakpoints. The first value is the prefix that shall be used for
 * your classes (e.g. `.palm--one-half`), the second value is the media query
 * that the breakpoint fires at.
 */
/**
 * Define which namespaced breakpoints you would like to generate for each of
 * widths, push and pull. This is handy if you only need pull on, say, desk, or
 * you only need a new width breakpoint at mobile sizes. It allows you to only
 * compile as much CSS as you need. All are turned on by default, but you can
 * add and remove breakpoints at will.
 *
 * Push and pull shall only be used if `$push` and/or `$pull` and `$responsive`
 * have been set to ‘true’.
 */
/**
 * You do not need to edit anything from this line onward; csswizardry-grids is
 * good to go. Happy griddin’!
 */
/*------------------------------------*\
    $MIXINS
\*------------------------------------*/
/**
 * These mixins are for the library to use only, you should not need to modify
 * them at all.
 *
 * Enclose a block of code with a media query as named in `$breakpoints`.
 */
/**
 * Drop relative positioning into silent classes which can’t take advantage of
 * the `[class*="push--"]` and `[class*="pull--"]` selectors.
 */
/*------------------------------------*\
    $GRID SETUP
\*------------------------------------*/
/**
 * 1. Allow the grid system to be used on lists.
 * 2. Remove any margins and paddings that might affect the grid system.
 * 3. Apply a negative `margin-left` to negate the columns’ gutters.
 */
.grid {
  list-style: none;
  /* [1] */
  margin: 0;
  /* [2] */
  padding: 0;
  /* [2] */
  margin-left: -24px;
  /* [3] */
}

/**
     * 1. Cause columns to stack side-by-side.
     * 2. Space columns apart.
     * 3. Align columns to the tops of each other.
     * 4. Full-width unless told to behave otherwise.
     * 5. Required to combine fluid widths and fixed gutters.
     */
.grid__item {
  display: inline-block;
  /* [1] */
  padding-left: 24px;
  /* [2] */
  vertical-align: top;
  /* [3] */
  width: 100%;
  /* [4] */
  -webkit-box-sizing: border-box;
  /* [5] */
  -moz-box-sizing: border-box;
  /* [5] */
  box-sizing: border-box;
  /* [5] */
}

/**
 * Reversed grids allow you to structure your source in the opposite order to
 * how your rendered layout will appear. Extends `.grid`.
 */
.grid--rev {
  direction: rtl;
  text-align: left;
}
.grid--rev > .grid__item {
  direction: ltr;
  text-align: left;
}

/**
 * Gutterless grids have all the properties of regular grids, minus any spacing.
 * Extends `.grid`.
 */
.grid--full {
  margin-left: 0;
}
.grid--full > .grid__item {
  padding-left: 0;
}

/**
 * Align the entire grid to the right. Extends `.grid`.
 */
.grid--right {
  text-align: right;
}
.grid--right > .grid__item {
  text-align: left;
}

/**
 * Centered grids align grid items centrally without needing to use push or pull
 * classes. Extends `.grid`.
 */
.grid--center {
  text-align: center;
}
.grid--center > .grid__item {
  text-align: left;
}

/**
 * Align grid cells vertically (`.grid--middle` or `.grid--bottom`). Extends
 * `.grid`.
 */
.grid--middle > .grid__item {
  vertical-align: middle;
}

.grid--bottom > .grid__item {
  vertical-align: bottom;
}

/**
 * Create grids with narrower gutters. Extends `.grid`.
 */
.grid--narrow {
  margin-left: -12px;
}
.grid--narrow > .grid__item {
  padding-left: 12px;
}

/**
 * Create grids with wider gutters. Extends `.grid`.
 */
.grid--wide {
  margin-left: -48px;
}
.grid--wide > .grid__item {
  padding-left: 48px;
}

/*------------------------------------*\
    $WIDTHS
\*------------------------------------*/
/**
 * Create our width classes, prefixed by the specified namespace.
 */
/**
 * Our regular, non-responsive width classes.
 */
/**
   * Whole
   */
.one-whole {
  width: 100%;
}

/**
   * Halves
   */
.one-half, .six-twelfths, .five-tenths, .four-eighths, .three-sixths, .two-quarters {
  width: 50%;
}

/**
   * Thirds
   */
.one-third, .four-twelfths, .two-sixths {
  width: 33.333%;
}

.two-thirds, .eight-twelfths, .four-sixths {
  width: 66.666%;
}

/**
   * Quarters
   */
.one-quarter, .three-twelfths, .two-eighths {
  width: 25%;
}

.three-quarters, .nine-twelfths, .six-eighths {
  width: 75%;
}

/**
   * Fifths
   */
.one-fifth, .two-tenths {
  width: 20%;
}

.two-fifths, .four-tenths {
  width: 40%;
}

.three-fifths, .six-tenths {
  width: 60%;
}

.four-fifths, .eight-tenths {
  width: 80%;
}

/**
   * Sixths
   */
.one-sixth, .two-twelfths {
  width: 16.666%;
}

.five-sixths, .ten-twelfths {
  width: 83.333%;
}

/**
   * Eighths
   */
.one-eighth {
  width: 12.5%;
}

.three-eighths {
  width: 37.5%;
}

.five-eighths {
  width: 62.5%;
}

.seven-eighths {
  width: 87.5%;
}

/**
   * Tenths
   */
.one-tenth {
  width: 10%;
}

.three-tenths {
  width: 30%;
}

.seven-tenths {
  width: 70%;
}

.nine-tenths {
  width: 90%;
}

/**
   * Twelfths
   */
.one-twelfth {
  width: 8.333%;
}

.five-twelfths {
  width: 41.666%;
}

.seven-twelfths {
  width: 58.333%;
}

.eleven-twelfths {
  width: 91.666%;
}

/**
 * Our responsive classes, if we have enabled them.
 */
@media only screen and (min-width: 360px) {
  /**
     * Whole
     */
  .xs--one-whole {
    width: 100%;
  }

  /**
     * Halves
     */
  .xs--one-half, .xs--six-twelfths, .xs--five-tenths, .xs--four-eighths, .xs--three-sixths, .xs--two-quarters {
    width: 50%;
  }

  /**
     * Thirds
     */
  .xs--one-third, .xs--four-twelfths, .xs--two-sixths {
    width: 33.333%;
  }

  .xs--two-thirds, .xs--eight-twelfths, .xs--four-sixths {
    width: 66.666%;
  }

  /**
     * Quarters
     */
  .xs--one-quarter, .xs--three-twelfths, .xs--two-eighths {
    width: 25%;
  }

  .xs--three-quarters, .xs--nine-twelfths, .xs--six-eighths {
    width: 75%;
  }

  /**
     * Fifths
     */
  .xs--one-fifth, .xs--two-tenths {
    width: 20%;
  }

  .xs--two-fifths, .xs--four-tenths {
    width: 40%;
  }

  .xs--three-fifths, .xs--six-tenths {
    width: 60%;
  }

  .xs--four-fifths, .xs--eight-tenths {
    width: 80%;
  }

  /**
     * Sixths
     */
  .xs--one-sixth, .xs--two-twelfths {
    width: 16.666%;
  }

  .xs--five-sixths, .xs--ten-twelfths {
    width: 83.333%;
  }

  /**
     * Eighths
     */
  .xs--one-eighth {
    width: 12.5%;
  }

  .xs--three-eighths {
    width: 37.5%;
  }

  .xs--five-eighths {
    width: 62.5%;
  }

  .xs--seven-eighths {
    width: 87.5%;
  }

  /**
     * Tenths
     */
  .xs--one-tenth {
    width: 10%;
  }

  .xs--three-tenths {
    width: 30%;
  }

  .xs--seven-tenths {
    width: 70%;
  }

  .xs--nine-tenths {
    width: 90%;
  }

  /**
     * Twelfths
     */
  .xs--one-twelfth {
    width: 8.333%;
  }

  .xs--five-twelfths {
    width: 41.666%;
  }

  .xs--seven-twelfths {
    width: 58.333%;
  }

  .xs--eleven-twelfths {
    width: 91.666%;
  }
}
@media only screen and (min-width: 480px) {
  /**
     * Whole
     */
  .s--one-whole {
    width: 100%;
  }

  /**
     * Halves
     */
  .s--one-half, .s--six-twelfths, .s--five-tenths, .s--four-eighths, .s--three-sixths, .s--two-quarters {
    width: 50%;
  }

  /**
     * Thirds
     */
  .s--one-third, .s--four-twelfths, .s--two-sixths {
    width: 33.333%;
  }

  .s--two-thirds, .s--eight-twelfths, .s--four-sixths {
    width: 66.666%;
  }

  /**
     * Quarters
     */
  .s--one-quarter, .s--three-twelfths, .s--two-eighths {
    width: 25%;
  }

  .s--three-quarters, .s--nine-twelfths, .s--six-eighths {
    width: 75%;
  }

  /**
     * Fifths
     */
  .s--one-fifth, .s--two-tenths {
    width: 20%;
  }

  .s--two-fifths, .s--four-tenths {
    width: 40%;
  }

  .s--three-fifths, .s--six-tenths {
    width: 60%;
  }

  .s--four-fifths, .s--eight-tenths {
    width: 80%;
  }

  /**
     * Sixths
     */
  .s--one-sixth, .s--two-twelfths {
    width: 16.666%;
  }

  .s--five-sixths, .s--ten-twelfths {
    width: 83.333%;
  }

  /**
     * Eighths
     */
  .s--one-eighth {
    width: 12.5%;
  }

  .s--three-eighths {
    width: 37.5%;
  }

  .s--five-eighths {
    width: 62.5%;
  }

  .s--seven-eighths {
    width: 87.5%;
  }

  /**
     * Tenths
     */
  .s--one-tenth {
    width: 10%;
  }

  .s--three-tenths {
    width: 30%;
  }

  .s--seven-tenths {
    width: 70%;
  }

  .s--nine-tenths {
    width: 90%;
  }

  /**
     * Twelfths
     */
  .s--one-twelfth {
    width: 8.333%;
  }

  .s--five-twelfths {
    width: 41.666%;
  }

  .s--seven-twelfths {
    width: 58.333%;
  }

  .s--eleven-twelfths {
    width: 91.666%;
  }
}
@media only screen and (min-width: 768px) {
  /**
     * Whole
     */
  .m--one-whole {
    width: 100%;
  }

  /**
     * Halves
     */
  .m--one-half, .m--six-twelfths, .m--five-tenths, .m--four-eighths, .m--three-sixths, .m--two-quarters {
    width: 50%;
  }

  /**
     * Thirds
     */
  .m--one-third, .m--four-twelfths, .m--two-sixths {
    width: 33.333%;
  }

  .m--two-thirds, .m--eight-twelfths, .m--four-sixths {
    width: 66.666%;
  }

  /**
     * Quarters
     */
  .m--one-quarter, .m--three-twelfths, .m--two-eighths {
    width: 25%;
  }

  .m--three-quarters, .m--nine-twelfths, .m--six-eighths {
    width: 75%;
  }

  /**
     * Fifths
     */
  .m--one-fifth, .m--two-tenths {
    width: 20%;
  }

  .m--two-fifths, .m--four-tenths {
    width: 40%;
  }

  .m--three-fifths, .m--six-tenths {
    width: 60%;
  }

  .m--four-fifths, .m--eight-tenths {
    width: 80%;
  }

  /**
     * Sixths
     */
  .m--one-sixth, .m--two-twelfths {
    width: 16.666%;
  }

  .m--five-sixths, .m--ten-twelfths {
    width: 83.333%;
  }

  /**
     * Eighths
     */
  .m--one-eighth {
    width: 12.5%;
  }

  .m--three-eighths {
    width: 37.5%;
  }

  .m--five-eighths {
    width: 62.5%;
  }

  .m--seven-eighths {
    width: 87.5%;
  }

  /**
     * Tenths
     */
  .m--one-tenth {
    width: 10%;
  }

  .m--three-tenths {
    width: 30%;
  }

  .m--seven-tenths {
    width: 70%;
  }

  .m--nine-tenths {
    width: 90%;
  }

  /**
     * Twelfths
     */
  .m--one-twelfth {
    width: 8.333%;
  }

  .m--five-twelfths {
    width: 41.666%;
  }

  .m--seven-twelfths {
    width: 58.333%;
  }

  .m--eleven-twelfths {
    width: 91.666%;
  }
}
@media only screen and (min-width: 992px) {
  /**
     * Whole
     */
  .l--one-whole {
    width: 100%;
  }

  /**
     * Halves
     */
  .l--one-half, .l--six-twelfths, .l--five-tenths, .l--four-eighths, .l--three-sixths, .l--two-quarters {
    width: 50%;
  }

  /**
     * Thirds
     */
  .l--one-third, .l--four-twelfths, .l--two-sixths {
    width: 33.333%;
  }

  .l--two-thirds, .l--eight-twelfths, .l--four-sixths {
    width: 66.666%;
  }

  /**
     * Quarters
     */
  .l--one-quarter, .l--three-twelfths, .l--two-eighths {
    width: 25%;
  }

  .l--three-quarters, .l--nine-twelfths, .l--six-eighths {
    width: 75%;
  }

  /**
     * Fifths
     */
  .l--one-fifth, .l--two-tenths {
    width: 20%;
  }

  .l--two-fifths, .l--four-tenths {
    width: 40%;
  }

  .l--three-fifths, .l--six-tenths {
    width: 60%;
  }

  .l--four-fifths, .l--eight-tenths {
    width: 80%;
  }

  /**
     * Sixths
     */
  .l--one-sixth, .l--two-twelfths {
    width: 16.666%;
  }

  .l--five-sixths, .l--ten-twelfths {
    width: 83.333%;
  }

  /**
     * Eighths
     */
  .l--one-eighth {
    width: 12.5%;
  }

  .l--three-eighths {
    width: 37.5%;
  }

  .l--five-eighths {
    width: 62.5%;
  }

  .l--seven-eighths {
    width: 87.5%;
  }

  /**
     * Tenths
     */
  .l--one-tenth {
    width: 10%;
  }

  .l--three-tenths {
    width: 30%;
  }

  .l--seven-tenths {
    width: 70%;
  }

  .l--nine-tenths {
    width: 90%;
  }

  /**
     * Twelfths
     */
  .l--one-twelfth {
    width: 8.333%;
  }

  .l--five-twelfths {
    width: 41.666%;
  }

  .l--seven-twelfths {
    width: 58.333%;
  }

  .l--eleven-twelfths {
    width: 91.666%;
  }
}
@media only screen and (min-width: 1200px) {
  /**
     * Whole
     */
  .xl--one-whole {
    width: 100%;
  }

  /**
     * Halves
     */
  .xl--one-half, .xl--six-twelfths, .xl--five-tenths, .xl--four-eighths, .xl--three-sixths, .xl--two-quarters {
    width: 50%;
  }

  /**
     * Thirds
     */
  .xl--one-third, .xl--four-twelfths, .xl--two-sixths {
    width: 33.333%;
  }

  .xl--two-thirds, .xl--eight-twelfths, .xl--four-sixths {
    width: 66.666%;
  }

  /**
     * Quarters
     */
  .xl--one-quarter, .xl--three-twelfths, .xl--two-eighths {
    width: 25%;
  }

  .xl--three-quarters, .xl--nine-twelfths, .xl--six-eighths {
    width: 75%;
  }

  /**
     * Fifths
     */
  .xl--one-fifth, .xl--two-tenths {
    width: 20%;
  }

  .xl--two-fifths, .xl--four-tenths {
    width: 40%;
  }

  .xl--three-fifths, .xl--six-tenths {
    width: 60%;
  }

  .xl--four-fifths, .xl--eight-tenths {
    width: 80%;
  }

  /**
     * Sixths
     */
  .xl--one-sixth, .xl--two-twelfths {
    width: 16.666%;
  }

  .xl--five-sixths, .xl--ten-twelfths {
    width: 83.333%;
  }

  /**
     * Eighths
     */
  .xl--one-eighth {
    width: 12.5%;
  }

  .xl--three-eighths {
    width: 37.5%;
  }

  .xl--five-eighths {
    width: 62.5%;
  }

  .xl--seven-eighths {
    width: 87.5%;
  }

  /**
     * Tenths
     */
  .xl--one-tenth {
    width: 10%;
  }

  .xl--three-tenths {
    width: 30%;
  }

  .xl--seven-tenths {
    width: 70%;
  }

  .xl--nine-tenths {
    width: 90%;
  }

  /**
     * Twelfths
     */
  .xl--one-twelfth {
    width: 8.333%;
  }

  .xl--five-twelfths {
    width: 41.666%;
  }

  .xl--seven-twelfths {
    width: 58.333%;
  }

  .xl--eleven-twelfths {
    width: 91.666%;
  }
}
@media only screen and (min-width: 1400px) {
  /**
     * Whole
     */
  .xxl--one-whole {
    width: 100%;
  }

  /**
     * Halves
     */
  .xxl--one-half, .xxl--six-twelfths, .xxl--five-tenths, .xxl--four-eighths, .xxl--three-sixths, .xxl--two-quarters {
    width: 50%;
  }

  /**
     * Thirds
     */
  .xxl--one-third, .xxl--four-twelfths, .xxl--two-sixths {
    width: 33.333%;
  }

  .xxl--two-thirds, .xxl--eight-twelfths, .xxl--four-sixths {
    width: 66.666%;
  }

  /**
     * Quarters
     */
  .xxl--one-quarter, .xxl--three-twelfths, .xxl--two-eighths {
    width: 25%;
  }

  .xxl--three-quarters, .xxl--nine-twelfths, .xxl--six-eighths {
    width: 75%;
  }

  /**
     * Fifths
     */
  .xxl--one-fifth, .xxl--two-tenths {
    width: 20%;
  }

  .xxl--two-fifths, .xxl--four-tenths {
    width: 40%;
  }

  .xxl--three-fifths, .xxl--six-tenths {
    width: 60%;
  }

  .xxl--four-fifths, .xxl--eight-tenths {
    width: 80%;
  }

  /**
     * Sixths
     */
  .xxl--one-sixth, .xxl--two-twelfths {
    width: 16.666%;
  }

  .xxl--five-sixths, .xxl--ten-twelfths {
    width: 83.333%;
  }

  /**
     * Eighths
     */
  .xxl--one-eighth {
    width: 12.5%;
  }

  .xxl--three-eighths {
    width: 37.5%;
  }

  .xxl--five-eighths {
    width: 62.5%;
  }

  .xxl--seven-eighths {
    width: 87.5%;
  }

  /**
     * Tenths
     */
  .xxl--one-tenth {
    width: 10%;
  }

  .xxl--three-tenths {
    width: 30%;
  }

  .xxl--seven-tenths {
    width: 70%;
  }

  .xxl--nine-tenths {
    width: 90%;
  }

  /**
     * Twelfths
     */
  .xxl--one-twelfth {
    width: 8.333%;
  }

  .xxl--five-twelfths {
    width: 41.666%;
  }

  .xxl--seven-twelfths {
    width: 58.333%;
  }

  .xxl--eleven-twelfths {
    width: 91.666%;
  }
}
/*------------------------------------*\
    $PUSH
\*------------------------------------*/
/**
 * Push classes, to move grid items over to the right by certain amounts.
 */
/*------------------------------------*\
    $PULL
\*------------------------------------*/
/**
 * Pull classes, to move grid items back to the left by certain amounts.
 */
html,
body {
  margin: 0;
  padding: 0;
  font-family: Lato, sans-serif;
  overflow-x: hidden;
  overflow-y: hidden;
  scroll-behavior: smooth;
  color: rgba(28, 32, 33, 0.6);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: uppercase;
  font-weight: 300;
  text-align: center;
}
h1 span,
h2 span,
h3 span,
h4 span,
h5 span,
h6 span {
  font-weight: 900;
}

h2 {
  font-size: 26px;
}

.text-center {
  text-align: center;
}

.vertical-middle {
  vertical-align: middle;
}

input#toggler {
  display: none;
}

.wrapper {
  transition: margin 0.3s ease-out;
  height: 100vh;
  overflow-y: auto;
  scroll-behavior: smooth;
  width: 100%;
}
.wrapper.alt .content {
  margin-top: 0;
}
.wrapper .content {
  margin: 56px auto 0 auto;
  background-color: rgba(0, 0, 0, 0.05);
  width: 100%;
}
.wrapper .content section {
  padding: 24px 24px;
  margin-left: auto;
  margin-right: auto;
}
.wrapper .content section:nth-child(odd) {
  background-color: white;
}
.wrapper .content section.find-me h2:before, .wrapper .content section.join-me h2:before {
  left: 0;
}
.wrapper .content section.find-me h2:after, .wrapper .content section.join-me h2:after {
  right: 0;
}
.wrapper .content section.find-me h2:before,
.wrapper .content section.find-me h2:after, .wrapper .content section.join-me h2:before,
.wrapper .content section.join-me h2:after {
  border-bottom: solid 1.5px;
  border-top: solid 1.5px;
  content: none;
  height: 7px;
  opacity: 0.1;
  position: absolute;
  top: 12px;
  width: 38%;
}
.wrapper .content section.join-me a {
  text-decoration: none;
  color: rgba(28, 32, 33, 0.6);
}
.wrapper .content section.join-me span.material-icons {
  font-size: 56px;
  color: rgba(69, 48, 64, 0.75);
}
.wrapper .content section.find-me {
  background: linear-gradient(180deg, #39a296 0%, #83d3c9 100%);
  color: #fff;
}
.wrapper .content section.find-me iframe {
  width: 80%;
  height: 250px;
}
.wrapper .content section#banner {
  width: 100%;
  max-width: 100%;
  margin: 0;
  text-align: center;
  color: #fff;
  cursor: default;
  padding: 6em 0 6em 0;
  text-align: center;
  background-attachment: scroll, scroll;
  background-color: #645862;
  background-image: url("https://sarah.dionne.ch/404/assets/img/logo.png"), url("https://sarah.dionne.ch/assets/img/20201024_143714.jpg");
  background-position: -12em 50px, center;
  background-repeat: no-repeat, no-repeat;
  background-size: 25em, cover;
}
.wrapper .content section#banner .inner {
  color: #fff;
  display: inline-block;
  padding: 3em 3em 0 3em;
  text-align: center;
}
.wrapper .content section#banner .inner header {
  display: inline-block;
  border-bottom: solid 2px;
  border-top: solid 2px;
  margin: 0 0 2em 0;
  padding: 3px 0 3px 0;
}
.wrapper .content section#banner .inner header h2 {
  text-shadow: 0px 0px 10px #000000;
  border-bottom: solid 2px;
  border-top: solid 2px;
  font-size: 2.5em;
  font-weight: 900;
  letter-spacing: 0.2em;
  margin: 0;
  padding-left: 0.05em;
  position: relative;
  text-transform: uppercase;
}
.wrapper .content section#banner .inner header h2 a {
  text-decoration: none;
  color: #fff;
}
.wrapper .content section#banner .inner header h2 span {
  font-weight: 300;
}
.wrapper .content section#banner .inner p {
  text-shadow: 0px 0px 10px #000000, 0px 0px 10px #000000;
  letter-spacing: 0.1em;
  margin: 0;
  text-transform: uppercase;
}
.wrapper .content section#banner .inner footer {
  padding-top: 12px;
}
.wrapper .content section#banner .inner footer ul {
  margin: o;
  padding: 0;
}
.wrapper .content section#banner .inner footer ul li {
  list-style-type: none;
  display: inline-block;
}
.wrapper .content section#banner .inner footer ul li:first-child a {
  padding-left: 0;
}
.wrapper .content section#banner .inner footer ul li:last-child a {
  padding-right: 0;
}
.wrapper .content section#banner .inner footer ul li a {
  color: rgba(255, 255, 255, 0.8);
  padding: 12px 18px;
  transition: color 0.3s ease-in-out;
}
.wrapper .content section#banner .inner footer ul li a:hover {
  color: white;
}
.wrapper .content section#banner .inner footer ul li a span {
  border-radius: 50%;
  font-size: 36px;
}
@media (min-width: 576px) {
  .wrapper .content section#banner .inner footer ul li a {
    padding: 12px 24px;
  }
  .wrapper .content section#banner .inner footer ul li a span {
    transition: background-color 0.3s ease-in-out;
    border: 1px solid white;
    border-radius: 50%;
    padding: 16px;
    font-size: 36px;
  }
  .wrapper .content section#banner .inner footer ul li a:hover span {
    background-color: rgba(255, 255, 255, 0.125);
    outline: 1px solid white;
  }
}
@media (min-width: 576px) {
  .wrapper .content section {
    padding: 24px 48px;
  }
}
@media (min-width: 768px) {
  .wrapper .content section {
    padding: 24px 48px;
    margin-left: 24px;
    margin-right: 24px;
  }
}
@media (min-width: 992px) {
  .wrapper .content section {
    max-width: calc(960px - 96px);
    margin-left: auto;
    margin-right: auto;
  }
}
@media (min-width: 1200px) {
  .wrapper .content section {
    max-width: 1024px;
  }
}
@media (min-width: 1400px) {
  .wrapper .content section {
    max-width: 1200px;
  }
}

/* MOBILE NAVIGATION */
@media only screen and (max-width: 767px) {
  input#toggler {
    display: none;
  }
  input#toggler:checked ~ nav {
    transform: translateX(0);
    display: block;
    left: 0px;
  }
  input#toggler:checked ~ .wrapper {
    margin-left: 275px;
    overflow: hidden;
  }
  input#toggler:checked ~ .wrapper .toggler-wrapper {
    background: white;
    position: absolute;
    opacity: 0.01;
    width: 100%;
    height: 100vh;
    z-index: 2;
    cursor: pointer;
  }
  input#toggler:checked ~ .wrapper .toggler .navicon {
    background: transparent;
  }
  input#toggler:checked ~ .wrapper .toggler .navicon:before {
    transform: rotate(-45deg);
    top: 0;
  }
  input#toggler:checked ~ .wrapper .toggler .navicon:after {
    transform: rotate(45deg);
    top: 0;
  }

  nav {
    transition: transform 0.3s ease-out;
    transform: translateX(-275px);
    position: fixed;
    left: 0;
    overflow-y: auto;
    width: 275px;
    height: 100vh;
    background-color: #1c2021;
    float: left;
    top: 0;
    color: #fff;
    display: block;
    padding: 10px 10px;
    box-sizing: border-box;
  }
  nav .title {
    display: none;
  }
  nav ul,
nav li {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  nav ul li {
    font-size: 18px;
    cursor: pointer;
  }
  nav ul li:first-child a {
    border-top-width: 0px;
  }
  nav ul li a {
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.75);
    border-top: 1px solid rgba(255, 255, 255, 0.05);
    padding: 12px 0;
    text-decoration: none;
    display: block;
    font-weight: 900;
  }
  nav ul li a:hover {
    color: white;
  }
  nav ul li ul li:first-child a {
    border-top-width: 1px;
  }
  nav ul li ul li a {
    padding-left: 12px;
    font-weight: 300;
  }

  .wrapper.alt .mobile-navbar {
    background: none;
    box-shadow: none;
  }
  .wrapper.alt .mobile-navbar .title {
    display: none;
  }
  .wrapper .mobile-navbar {
    position: fixed;
    z-index: 1;
    background: white;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
    display: inline-block;
    width: 100%;
    font-size: 18px;
    line-height: 56px;
  }
  .wrapper .mobile-navbar .title {
    display: block;
    z-index: 0;
    text-transform: uppercase;
    padding-left: 0px;
    font-weight: 900;
    height: 56px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .wrapper .mobile-navbar .title a {
    color: rgba(28, 32, 33, 0.6);
    text-decoration: none;
  }
  .wrapper .mobile-navbar .title span {
    font-weight: 300;
  }
  .wrapper .mobile-navbar label.toggler {
    cursor: pointer;
    display: block;
    float: left;
    width: 36px;
    height: 34px;
    margin: 11px 6px;
    background: rgba(255, 255, 255, 0.75);
    border-radius: 5px;
  }
  .wrapper .mobile-navbar label.toggler .navicon {
    background: rgba(28, 32, 33, 0.6);
    display: block;
    height: 3px;
    position: absolute;
    top: 26px;
    left: 12px;
    transition: background 0.5s ease-out;
    width: 24px;
  }
  .wrapper .mobile-navbar label.toggler .navicon:before, .wrapper .mobile-navbar label.toggler .navicon:after {
    background: rgba(28, 32, 33, 0.6);
    content: "";
    left: 0px;
    display: block;
    height: 100%;
    position: absolute;
    transition: all 0.5s ease-out;
    width: 100%;
  }
  .wrapper .mobile-navbar label.toggler .navicon:before {
    top: 7px;
  }
  .wrapper .mobile-navbar label.toggler .navicon:after {
    top: -7px;
  }
}
@media only screen and (min-width: 768px) {
  nav {
    z-index: 1;
    position: fixed;
    height: 56px;
    width: 100%;
    background: white;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
  }
  nav .title {
    font-size: 18px;
    line-height: 56px;
    display: block;
    text-transform: uppercase;
    padding-left: 0px;
    font-weight: 900;
    height: 56px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    float: left;
    margin-left: 40px;
  }
  nav .title a {
    color: rgba(28, 32, 33, 0.6);
    text-decoration: none;
  }
  nav .title span {
    font-weight: 300;
  }
  nav ul,
nav li {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  nav ul {
    float: right;
    margin-right: 40px;
  }
  nav ul li {
    display: inline-block;
  }
  nav ul li ul {
    transition: opacity 0.3s ease-in-out;
    float: none;
    transform: scale(0);
    display: block;
    opacity: 0;
    position: absolute;
    background-color: white;
    margin: 12px 0 0 0;
    padding: 12px 0;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.25);
  }
  nav ul li ul:before {
    border-bottom: solid 0.5em #fff;
    border-left: solid 0.5em transparent;
    border-right: solid 0.5em transparent;
    content: "";
    left: 0.75em;
    position: absolute;
    top: -0.45em;
  }
  nav ul li ul:after {
    content: "";
    width: 100%;
    position: absolute;
    height: 20px;
    top: -18px;
  }
  nav ul li ul li {
    display: block;
  }
  nav ul li ul li:first-child a {
    border-top: 0px;
  }
  nav ul li ul li a {
    margin: 0;
    padding: 10px 36px;
    width: 100%;
    max-width: 130px;
    font-size: 14px;
    border-top: 1px solid rgba(0, 0, 0, 0.05);
    background-color: white;
  }
  nav ul li ul li a:hover {
    background-color: #83d3c9;
    color: white;
  }
  nav ul li:hover ul {
    display: block;
    opacity: 1;
    transform: scale(1);
  }
  nav ul li:hover ul li a {
    background-color: white;
    color: rgba(0, 0, 0, 0.75);
  }
  nav ul li:hover ul li a:hover {
    background-color: #83d3c9;
    color: white;
  }
  nav ul li:hover a {
    background-color: rgba(0, 0, 0, 0.05);
    outline: 1px solid rgba(255, 255, 255, 0.75);
  }
  nav ul li:hover.submenu a:after {
    transform: rotate(225deg);
    margin: 0 0 0px 8px;
    border-color: black;
  }
  nav ul li.current {
    font-weight: 900;
  }
  nav ul li a {
    text-transform: uppercase;
    display: inline-block;
    padding: 10px 16px;
    margin: 10px;
    color: rgba(28, 32, 33, 0.6);
    text-decoration: none;
  }
  nav ul li a.button.primary {
    background-color: #39a296;
    color: white;
    font-weight: 900;
  }
  nav ul li a.button.primary:hover {
    background-color: #83d3c9;
  }
  nav ul li a:hover {
    color: black;
    background-color: rgba(0, 0, 0, 0.05);
  }
  nav ul li.submenu a:after {
    content: "";
    border: solid rgba(28, 32, 33, 0.6);
    border-width: 0 2px 2px 0;
    display: inline-block;
    margin: 0 0 3px 8px;
    padding: 3px;
    transform: rotate(45deg);
  }
  nav ul li.submenu ul li a:after {
    content: none;
  }

  .wrapper {
    /*
    width: calc(100% - 40px);
    padding: 20px;
    background-color: rgba(0,0,0,.05);
    */
  }
  .wrapper .mobile-navbar {
    display: none;
  }
}