@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons|Material+Icons+Outlined");
.grid {
  font-size: 0;
}

.grid > * {
  font-size: medium;
  /* IE */
  font-size: initial;
}

body {
  /*------------------------------------*\
      $CSSWIZARDRY-GRIDS
  \*------------------------------------*/
  /**
   * CONTENTS
   * INTRODUCTION.........How the grid system works.
   * VARIABLES............Your settings.
   * MIXINS...............Library mixins.
   * GRID SETUP...........Build the grid structure.
   * WIDTHS...............Build our responsive widths around our breakpoints.
   * PUSH.................Push classes.
   * PULL.................Pull classes.
   */
  /*------------------------------------*\
      $INTRODUCTION
  \*------------------------------------*/
  /**
   * csswizardry grids provides you with widths to suit a number of breakpoints
   * designed around devices of a size you specify. Out of the box, csswizardry
   * grids caters to the following types of device:
   *
   * palm     --  palm-based devices, like phones and small tablets
   * lap      --  lap-based devices, like iPads or laptops
   * portable --  all of the above
   * desk     --  stationary devices, like desktop computers
   * regular  --  any/all types of device
   *
   * These namespaces are then used in the library to give you the ability to
   * manipulate your layouts based around them, for example:
   *
     <div class="grid__item  one-whole  lap--one-half  desk--one-third">
   *
   * This would give you a grid item which is 100% width unless it is on a lap
   * device, at which point it become 50% wide, or it is on a desktop device, at
   * which point it becomes 33.333% width.
   *
   * csswizardry grids also has push and pull classes which allow you to nudge
   * grid items left and right by a defined amount. These follow the same naming
   * convention as above, but are prepended by either `push--` or `pull--`, for
   * example:
   *
     `class="grid__item  one-half  push--one-half"`
   *
   * This would give you a grid item which is 50% width and pushed over to the
   * right by 50%.
   *
   * All classes in csswizardry grids follow this patten, so you should fairly
   * quickly be able to piece together any combinations you can imagine, for
   * example:
   *
     `class="grid__item  one-whole  lap--one-half  desk--one-third  push--desk--one-third"`
   *
     `class="grid__item  one-quarter  palm--one-half  push--palm--one-half"`
   *
     `class="grid__item  palm--one-third  desk--five-twelfths"`
   */
  /*------------------------------------*\
      $VARIABLES
  \*------------------------------------*/
  /**
   * If you are building a non-responsive site but would still like to use
   * csswizardry-grids, set this to ‘false’:
   */
  /**
   * Is this build mobile first? Setting to ‘true’ means that all grids will be
   * 100% width if you do not apply a more specific class to them.
   */
  /**
   * Set the spacing between your grid items.
   */
  /**
   * Would you like Sass’ silent classes, or regular CSS classes?
   */
  /**
   * Would you like push and pull classes enabled?
   */
  /**
   * Using `inline-block` means that the grid items need their whitespace removing
   * in order for them to work correctly. Set the following to true if you are
   * going to achieve this by manually removing/commenting out any whitespace in
   * your HTML yourself.
   *
   * Setting this to false invokes a hack which cannot always be guaranteed,
   * please see the following for more detail:
   *
   * github.com/csswizardry/csswizardry-grids/commit/744d4b23c9d2b77d605b5991e54a397df72e0688
   * github.com/csswizardry/inuit.css/issues/170#issuecomment-14859371
   */
  /**
   * Define your breakpoints. The first value is the prefix that shall be used for
   * your classes (e.g. `.palm--one-half`), the second value is the media query
   * that the breakpoint fires at.
   */
  /**
   * Define which namespaced breakpoints you would like to generate for each of
   * widths, push and pull. This is handy if you only need pull on, say, desk, or
   * you only need a new width breakpoint at mobile sizes. It allows you to only
   * compile as much CSS as you need. All are turned on by default, but you can
   * add and remove breakpoints at will.
   *
   * Push and pull shall only be used if `$push` and/or `$pull` and `$responsive`
   * have been set to ‘true’.
   */
  /**
   * You do not need to edit anything from this line onward; csswizardry-grids is
   * good to go. Happy griddin’!
   */
  /*------------------------------------*\
      $MIXINS
  \*------------------------------------*/
  /**
   * These mixins are for the library to use only, you should not need to modify
   * them at all.
   *
   * Enclose a block of code with a media query as named in `$breakpoints`.
   */
  /**
   * Drop relative positioning into silent classes which can’t take advantage of
   * the `[class*="push--"]` and `[class*="pull--"]` selectors.
   */
  /*------------------------------------*\
      $GRID SETUP
  \*------------------------------------*/
  /**
   * 1. Allow the grid system to be used on lists.
   * 2. Remove any margins and paddings that might affect the grid system.
   * 3. Apply a negative `margin-left` to negate the columns’ gutters.
   */
  /**
       * 1. Cause columns to stack side-by-side.
       * 2. Space columns apart.
       * 3. Align columns to the tops of each other.
       * 4. Full-width unless told to behave otherwise.
       * 5. Required to combine fluid widths and fixed gutters.
       */
  /**
   * Reversed grids allow you to structure your source in the opposite order to
   * how your rendered layout will appear. Extends `.grid`.
   */
  /**
   * Gutterless grids have all the properties of regular grids, minus any spacing.
   * Extends `.grid`.
   */
  /**
   * Align the entire grid to the right. Extends `.grid`.
   */
  /**
   * Centered grids align grid items centrally without needing to use push or pull
   * classes. Extends `.grid`.
   */
  /**
   * Align grid cells vertically (`.grid--middle` or `.grid--bottom`). Extends
   * `.grid`.
   */
  /**
   * Create grids with narrower gutters. Extends `.grid`.
   */
  /**
   * Create grids with wider gutters. Extends `.grid`.
   */
  /*------------------------------------*\
      $WIDTHS
  \*------------------------------------*/
  /**
   * Create our width classes, prefixed by the specified namespace.
   */
  /**
   * Our regular, non-responsive width classes.
   */
  /**
     * Whole
     */
  /**
     * Halves
     */
  /**
     * Thirds
     */
  /**
     * Quarters
     */
  /**
     * Fifths
     */
  /**
     * Sixths
     */
  /**
     * Eighths
     */
  /**
     * Tenths
     */
  /**
     * Twelfths
     */
  /**
   * Our responsive classes, if we have enabled them.
   */
  /*------------------------------------*\
      $PUSH
  \*------------------------------------*/
  /**
   * Push classes, to move grid items over to the right by certain amounts.
   */
  /*------------------------------------*\
      $PULL
  \*------------------------------------*/
  /**
   * Pull classes, to move grid items back to the left by certain amounts.
   */
}
body .grid {
  list-style: none;
  /* [1] */
  margin: 0;
  /* [2] */
  padding: 0;
  /* [2] */
  margin-left: -24px;
  /* [3] */
}
body .grid__item {
  display: inline-block;
  /* [1] */
  padding-left: 24px;
  /* [2] */
  vertical-align: top;
  /* [3] */
  width: 100%;
  /* [4] */
  -webkit-box-sizing: border-box;
  /* [5] */
  -moz-box-sizing: border-box;
  /* [5] */
  box-sizing: border-box;
  /* [5] */
}
body .grid--rev {
  direction: rtl;
  text-align: left;
}
body .grid--rev > .grid__item {
  direction: ltr;
  text-align: left;
}
body .grid--full {
  margin-left: 0;
}
body .grid--full > .grid__item {
  padding-left: 0;
}
body .grid--right {
  text-align: right;
}
body .grid--right > .grid__item {
  text-align: left;
}
body .grid--center {
  text-align: center;
}
body .grid--center > .grid__item {
  text-align: left;
}
body .grid--middle > .grid__item {
  vertical-align: middle;
}
body .grid--bottom > .grid__item {
  vertical-align: bottom;
}
body .grid--narrow {
  margin-left: -12px;
}
body .grid--narrow > .grid__item {
  padding-left: 12px;
}
body .grid--wide {
  margin-left: -48px;
}
body .grid--wide > .grid__item {
  padding-left: 48px;
}
body .one-whole {
  width: 100%;
}
body .one-half, body .six-twelfths, body .five-tenths, body .four-eighths, body .three-sixths, body .two-quarters {
  width: 50%;
}
body .one-third, body .four-twelfths, body .two-sixths {
  width: 33.333%;
}
body .two-thirds, body .eight-twelfths, body .four-sixths {
  width: 66.666%;
}
body .one-quarter, body .three-twelfths, body .two-eighths {
  width: 25%;
}
body .three-quarters, body .nine-twelfths, body .six-eighths {
  width: 75%;
}
body .one-fifth, body .two-tenths {
  width: 20%;
}
body .two-fifths, body .four-tenths {
  width: 40%;
}
body .three-fifths, body .six-tenths {
  width: 60%;
}
body .four-fifths, body .eight-tenths {
  width: 80%;
}
body .one-sixth, body .two-twelfths {
  width: 16.666%;
}
body .five-sixths, body .ten-twelfths {
  width: 83.333%;
}
body .one-eighth {
  width: 12.5%;
}
body .three-eighths {
  width: 37.5%;
}
body .five-eighths {
  width: 62.5%;
}
body .seven-eighths {
  width: 87.5%;
}
body .one-tenth {
  width: 10%;
}
body .three-tenths {
  width: 30%;
}
body .seven-tenths {
  width: 70%;
}
body .nine-tenths {
  width: 90%;
}
body .one-twelfth {
  width: 8.333%;
}
body .five-twelfths {
  width: 41.666%;
}
body .seven-twelfths {
  width: 58.333%;
}
body .eleven-twelfths {
  width: 91.666%;
}
@media only screen and (min-width: 360px) {
  body {
    /**
       * Whole
       */
    /**
       * Halves
       */
    /**
       * Thirds
       */
    /**
       * Quarters
       */
    /**
       * Fifths
       */
    /**
       * Sixths
       */
    /**
       * Eighths
       */
    /**
       * Tenths
       */
    /**
       * Twelfths
       */
  }
  body .xs--one-whole {
    width: 100%;
  }
  body .xs--one-half, body .xs--six-twelfths, body .xs--five-tenths, body .xs--four-eighths, body .xs--three-sixths, body .xs--two-quarters {
    width: 50%;
  }
  body .xs--one-third, body .xs--four-twelfths, body .xs--two-sixths {
    width: 33.333%;
  }
  body .xs--two-thirds, body .xs--eight-twelfths, body .xs--four-sixths {
    width: 66.666%;
  }
  body .xs--one-quarter, body .xs--three-twelfths, body .xs--two-eighths {
    width: 25%;
  }
  body .xs--three-quarters, body .xs--nine-twelfths, body .xs--six-eighths {
    width: 75%;
  }
  body .xs--one-fifth, body .xs--two-tenths {
    width: 20%;
  }
  body .xs--two-fifths, body .xs--four-tenths {
    width: 40%;
  }
  body .xs--three-fifths, body .xs--six-tenths {
    width: 60%;
  }
  body .xs--four-fifths, body .xs--eight-tenths {
    width: 80%;
  }
  body .xs--one-sixth, body .xs--two-twelfths {
    width: 16.666%;
  }
  body .xs--five-sixths, body .xs--ten-twelfths {
    width: 83.333%;
  }
  body .xs--one-eighth {
    width: 12.5%;
  }
  body .xs--three-eighths {
    width: 37.5%;
  }
  body .xs--five-eighths {
    width: 62.5%;
  }
  body .xs--seven-eighths {
    width: 87.5%;
  }
  body .xs--one-tenth {
    width: 10%;
  }
  body .xs--three-tenths {
    width: 30%;
  }
  body .xs--seven-tenths {
    width: 70%;
  }
  body .xs--nine-tenths {
    width: 90%;
  }
  body .xs--one-twelfth {
    width: 8.333%;
  }
  body .xs--five-twelfths {
    width: 41.666%;
  }
  body .xs--seven-twelfths {
    width: 58.333%;
  }
  body .xs--eleven-twelfths {
    width: 91.666%;
  }
}
@media only screen and (min-width: 480px) {
  body {
    /**
       * Whole
       */
    /**
       * Halves
       */
    /**
       * Thirds
       */
    /**
       * Quarters
       */
    /**
       * Fifths
       */
    /**
       * Sixths
       */
    /**
       * Eighths
       */
    /**
       * Tenths
       */
    /**
       * Twelfths
       */
  }
  body .s--one-whole {
    width: 100%;
  }
  body .s--one-half, body .s--six-twelfths, body .s--five-tenths, body .s--four-eighths, body .s--three-sixths, body .s--two-quarters {
    width: 50%;
  }
  body .s--one-third, body .s--four-twelfths, body .s--two-sixths {
    width: 33.333%;
  }
  body .s--two-thirds, body .s--eight-twelfths, body .s--four-sixths {
    width: 66.666%;
  }
  body .s--one-quarter, body .s--three-twelfths, body .s--two-eighths {
    width: 25%;
  }
  body .s--three-quarters, body .s--nine-twelfths, body .s--six-eighths {
    width: 75%;
  }
  body .s--one-fifth, body .s--two-tenths {
    width: 20%;
  }
  body .s--two-fifths, body .s--four-tenths {
    width: 40%;
  }
  body .s--three-fifths, body .s--six-tenths {
    width: 60%;
  }
  body .s--four-fifths, body .s--eight-tenths {
    width: 80%;
  }
  body .s--one-sixth, body .s--two-twelfths {
    width: 16.666%;
  }
  body .s--five-sixths, body .s--ten-twelfths {
    width: 83.333%;
  }
  body .s--one-eighth {
    width: 12.5%;
  }
  body .s--three-eighths {
    width: 37.5%;
  }
  body .s--five-eighths {
    width: 62.5%;
  }
  body .s--seven-eighths {
    width: 87.5%;
  }
  body .s--one-tenth {
    width: 10%;
  }
  body .s--three-tenths {
    width: 30%;
  }
  body .s--seven-tenths {
    width: 70%;
  }
  body .s--nine-tenths {
    width: 90%;
  }
  body .s--one-twelfth {
    width: 8.333%;
  }
  body .s--five-twelfths {
    width: 41.666%;
  }
  body .s--seven-twelfths {
    width: 58.333%;
  }
  body .s--eleven-twelfths {
    width: 91.666%;
  }
}
@media only screen and (min-width: 768px) {
  body {
    /**
       * Whole
       */
    /**
       * Halves
       */
    /**
       * Thirds
       */
    /**
       * Quarters
       */
    /**
       * Fifths
       */
    /**
       * Sixths
       */
    /**
       * Eighths
       */
    /**
       * Tenths
       */
    /**
       * Twelfths
       */
  }
  body .m--one-whole {
    width: 100%;
  }
  body .m--one-half, body .m--six-twelfths, body .m--five-tenths, body .m--four-eighths, body .m--three-sixths, body .m--two-quarters {
    width: 50%;
  }
  body .m--one-third, body .m--four-twelfths, body .m--two-sixths {
    width: 33.333%;
  }
  body .m--two-thirds, body .m--eight-twelfths, body .m--four-sixths {
    width: 66.666%;
  }
  body .m--one-quarter, body .m--three-twelfths, body .m--two-eighths {
    width: 25%;
  }
  body .m--three-quarters, body .m--nine-twelfths, body .m--six-eighths {
    width: 75%;
  }
  body .m--one-fifth, body .m--two-tenths {
    width: 20%;
  }
  body .m--two-fifths, body .m--four-tenths {
    width: 40%;
  }
  body .m--three-fifths, body .m--six-tenths {
    width: 60%;
  }
  body .m--four-fifths, body .m--eight-tenths {
    width: 80%;
  }
  body .m--one-sixth, body .m--two-twelfths {
    width: 16.666%;
  }
  body .m--five-sixths, body .m--ten-twelfths {
    width: 83.333%;
  }
  body .m--one-eighth {
    width: 12.5%;
  }
  body .m--three-eighths {
    width: 37.5%;
  }
  body .m--five-eighths {
    width: 62.5%;
  }
  body .m--seven-eighths {
    width: 87.5%;
  }
  body .m--one-tenth {
    width: 10%;
  }
  body .m--three-tenths {
    width: 30%;
  }
  body .m--seven-tenths {
    width: 70%;
  }
  body .m--nine-tenths {
    width: 90%;
  }
  body .m--one-twelfth {
    width: 8.333%;
  }
  body .m--five-twelfths {
    width: 41.666%;
  }
  body .m--seven-twelfths {
    width: 58.333%;
  }
  body .m--eleven-twelfths {
    width: 91.666%;
  }
}
@media only screen and (min-width: 992px) {
  body {
    /**
       * Whole
       */
    /**
       * Halves
       */
    /**
       * Thirds
       */
    /**
       * Quarters
       */
    /**
       * Fifths
       */
    /**
       * Sixths
       */
    /**
       * Eighths
       */
    /**
       * Tenths
       */
    /**
       * Twelfths
       */
  }
  body .l--one-whole {
    width: 100%;
  }
  body .l--one-half, body .l--six-twelfths, body .l--five-tenths, body .l--four-eighths, body .l--three-sixths, body .l--two-quarters {
    width: 50%;
  }
  body .l--one-third, body .l--four-twelfths, body .l--two-sixths {
    width: 33.333%;
  }
  body .l--two-thirds, body .l--eight-twelfths, body .l--four-sixths {
    width: 66.666%;
  }
  body .l--one-quarter, body .l--three-twelfths, body .l--two-eighths {
    width: 25%;
  }
  body .l--three-quarters, body .l--nine-twelfths, body .l--six-eighths {
    width: 75%;
  }
  body .l--one-fifth, body .l--two-tenths {
    width: 20%;
  }
  body .l--two-fifths, body .l--four-tenths {
    width: 40%;
  }
  body .l--three-fifths, body .l--six-tenths {
    width: 60%;
  }
  body .l--four-fifths, body .l--eight-tenths {
    width: 80%;
  }
  body .l--one-sixth, body .l--two-twelfths {
    width: 16.666%;
  }
  body .l--five-sixths, body .l--ten-twelfths {
    width: 83.333%;
  }
  body .l--one-eighth {
    width: 12.5%;
  }
  body .l--three-eighths {
    width: 37.5%;
  }
  body .l--five-eighths {
    width: 62.5%;
  }
  body .l--seven-eighths {
    width: 87.5%;
  }
  body .l--one-tenth {
    width: 10%;
  }
  body .l--three-tenths {
    width: 30%;
  }
  body .l--seven-tenths {
    width: 70%;
  }
  body .l--nine-tenths {
    width: 90%;
  }
  body .l--one-twelfth {
    width: 8.333%;
  }
  body .l--five-twelfths {
    width: 41.666%;
  }
  body .l--seven-twelfths {
    width: 58.333%;
  }
  body .l--eleven-twelfths {
    width: 91.666%;
  }
}
@media only screen and (min-width: 1200px) {
  body {
    /**
       * Whole
       */
    /**
       * Halves
       */
    /**
       * Thirds
       */
    /**
       * Quarters
       */
    /**
       * Fifths
       */
    /**
       * Sixths
       */
    /**
       * Eighths
       */
    /**
       * Tenths
       */
    /**
       * Twelfths
       */
  }
  body .xl--one-whole {
    width: 100%;
  }
  body .xl--one-half, body .xl--six-twelfths, body .xl--five-tenths, body .xl--four-eighths, body .xl--three-sixths, body .xl--two-quarters {
    width: 50%;
  }
  body .xl--one-third, body .xl--four-twelfths, body .xl--two-sixths {
    width: 33.333%;
  }
  body .xl--two-thirds, body .xl--eight-twelfths, body .xl--four-sixths {
    width: 66.666%;
  }
  body .xl--one-quarter, body .xl--three-twelfths, body .xl--two-eighths {
    width: 25%;
  }
  body .xl--three-quarters, body .xl--nine-twelfths, body .xl--six-eighths {
    width: 75%;
  }
  body .xl--one-fifth, body .xl--two-tenths {
    width: 20%;
  }
  body .xl--two-fifths, body .xl--four-tenths {
    width: 40%;
  }
  body .xl--three-fifths, body .xl--six-tenths {
    width: 60%;
  }
  body .xl--four-fifths, body .xl--eight-tenths {
    width: 80%;
  }
  body .xl--one-sixth, body .xl--two-twelfths {
    width: 16.666%;
  }
  body .xl--five-sixths, body .xl--ten-twelfths {
    width: 83.333%;
  }
  body .xl--one-eighth {
    width: 12.5%;
  }
  body .xl--three-eighths {
    width: 37.5%;
  }
  body .xl--five-eighths {
    width: 62.5%;
  }
  body .xl--seven-eighths {
    width: 87.5%;
  }
  body .xl--one-tenth {
    width: 10%;
  }
  body .xl--three-tenths {
    width: 30%;
  }
  body .xl--seven-tenths {
    width: 70%;
  }
  body .xl--nine-tenths {
    width: 90%;
  }
  body .xl--one-twelfth {
    width: 8.333%;
  }
  body .xl--five-twelfths {
    width: 41.666%;
  }
  body .xl--seven-twelfths {
    width: 58.333%;
  }
  body .xl--eleven-twelfths {
    width: 91.666%;
  }
}
@media only screen and (min-width: 1400px) {
  body {
    /**
       * Whole
       */
    /**
       * Halves
       */
    /**
       * Thirds
       */
    /**
       * Quarters
       */
    /**
       * Fifths
       */
    /**
       * Sixths
       */
    /**
       * Eighths
       */
    /**
       * Tenths
       */
    /**
       * Twelfths
       */
  }
  body .xxl--one-whole {
    width: 100%;
  }
  body .xxl--one-half, body .xxl--six-twelfths, body .xxl--five-tenths, body .xxl--four-eighths, body .xxl--three-sixths, body .xxl--two-quarters {
    width: 50%;
  }
  body .xxl--one-third, body .xxl--four-twelfths, body .xxl--two-sixths {
    width: 33.333%;
  }
  body .xxl--two-thirds, body .xxl--eight-twelfths, body .xxl--four-sixths {
    width: 66.666%;
  }
  body .xxl--one-quarter, body .xxl--three-twelfths, body .xxl--two-eighths {
    width: 25%;
  }
  body .xxl--three-quarters, body .xxl--nine-twelfths, body .xxl--six-eighths {
    width: 75%;
  }
  body .xxl--one-fifth, body .xxl--two-tenths {
    width: 20%;
  }
  body .xxl--two-fifths, body .xxl--four-tenths {
    width: 40%;
  }
  body .xxl--three-fifths, body .xxl--six-tenths {
    width: 60%;
  }
  body .xxl--four-fifths, body .xxl--eight-tenths {
    width: 80%;
  }
  body .xxl--one-sixth, body .xxl--two-twelfths {
    width: 16.666%;
  }
  body .xxl--five-sixths, body .xxl--ten-twelfths {
    width: 83.333%;
  }
  body .xxl--one-eighth {
    width: 12.5%;
  }
  body .xxl--three-eighths {
    width: 37.5%;
  }
  body .xxl--five-eighths {
    width: 62.5%;
  }
  body .xxl--seven-eighths {
    width: 87.5%;
  }
  body .xxl--one-tenth {
    width: 10%;
  }
  body .xxl--three-tenths {
    width: 30%;
  }
  body .xxl--seven-tenths {
    width: 70%;
  }
  body .xxl--nine-tenths {
    width: 90%;
  }
  body .xxl--one-twelfth {
    width: 8.333%;
  }
  body .xxl--five-twelfths {
    width: 41.666%;
  }
  body .xxl--seven-twelfths {
    width: 58.333%;
  }
  body .xxl--eleven-twelfths {
    width: 91.666%;
  }
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: Lato, sans-serif;
  overflow-x: hidden;
  overflow-y: hidden;
  scroll-behavior: smooth;
  color: rgba(28, 32, 33, 0.6);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: uppercase;
  font-weight: 300;
  text-align: center;
}
h1 span,
h2 span,
h3 span,
h4 span,
h5 span,
h6 span {
  font-weight: 900;
}

h2 {
  font-size: 26px;
}

.text-center {
  text-align: center;
}

.vertical-middle {
  vertical-align: middle;
}

input#toggler {
  display: none;
}

/* PAGE LAYOUT */
.wrapper {
  transition: margin 0.3s ease-out;
  height: 100vh;
  overflow-y: auto;
  scroll-behavior: smooth;
  width: 100%;
}
.wrapper.alt .content {
  margin-top: 0;
}
.wrapper .content {
  margin: 56px auto 0 auto;
  background-color: rgba(0, 0, 0, 0.05);
  width: 100%;
}
.wrapper .content section {
  padding: 56px 24px 48px 24px;
}
@media only screen and (min-width: 480px) {
  .wrapper .content section {
    padding: 56px 48px;
  }
}
@media only screen and (min-width: 768px) {
  .wrapper .content section {
    padding: 56px 48px;
    margin-left: 24px;
    margin-right: 24px;
  }
}
@media only screen and (min-width: 992px) {
  .wrapper .content section {
    max-width: calc(960px - 96px);
    margin-left: auto;
    margin-right: auto;
  }
}
@media only screen and (min-width: 1200px) {
  .wrapper .content section {
    max-width: 1024px;
  }
}
@media only screen and (min-width: 1400px) {
  .wrapper .content section {
    max-width: 1200px;
  }
}
.wrapper .content section:nth-child(odd) {
  background-color: white;
}
.wrapper .content section.join-me a {
  text-decoration: none;
  color: rgba(28, 32, 33, 0.6);
}
.wrapper .content section.join-me span.material-icons {
  font-size: 56px;
  color: rgba(69, 48, 64, 0.75);
}
.wrapper .content section.find-me {
  background: linear-gradient(180deg, #39a296 0%, #83d3c9 100%);
  color: #fff;
}
.wrapper .content section.find-me iframe {
  width: 80%;
  height: 250px;
}

/* MOBILE NAVIGATION */
@media only screen and (max-width: 767px) {
  input#toggler {
    display: none;
  }
  input#toggler:checked ~ nav {
    transform: translateX(0);
    display: block;
    left: 0px;
  }
  input#toggler:checked ~ .wrapper {
    margin-left: 275px;
    overflow: hidden;
  }
  input#toggler:checked ~ .wrapper .toggler-wrapper {
    background: white;
    position: absolute;
    opacity: 0.01;
    width: 100%;
    height: 100vh;
    z-index: 2;
    cursor: pointer;
  }
  input#toggler:checked ~ .wrapper .toggler .navicon {
    background: transparent;
  }
  input#toggler:checked ~ .wrapper .toggler .navicon:before {
    transform: rotate(-45deg);
    top: 0;
  }
  input#toggler:checked ~ .wrapper .toggler .navicon:after {
    transform: rotate(45deg);
    top: 0;
  }

  nav {
    transition: transform 0.3s ease-out;
    transform: translateX(-275px);
    position: fixed;
    left: 0;
    overflow-y: auto;
    width: 275px;
    height: 100vh;
    background-color: #1c2021;
    float: left;
    top: 0;
    color: #fff;
    display: block;
    padding: 10px 10px;
    box-sizing: border-box;
  }
  nav .title {
    display: none;
  }
  nav ul,
nav li {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  nav ul li {
    font-size: 18px;
  }
  nav ul li:first-child a {
    border-top-width: 0px;
  }
  nav ul li a, nav ul li span {
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.75);
    border-top: 1px solid rgba(255, 255, 255, 0.05);
    padding: 12px 0;
    text-decoration: none;
    display: block;
    font-weight: 900;
  }
  nav ul li a:hover {
    color: white;
  }
  nav ul li ul li:first-child a, nav ul li ul li:first-child span {
    border-top-width: 1px;
  }
  nav ul li ul li a, nav ul li ul li span {
    padding-left: 12px;
    font-weight: 300;
  }

  .wrapper.alt .mobile-navbar {
    background: none;
    box-shadow: none;
  }
  .wrapper.alt .mobile-navbar .title {
    display: none;
  }
  .wrapper .mobile-navbar {
    position: fixed;
    z-index: 1;
    background: white;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
    display: inline-block;
    width: 100%;
    font-size: 18px;
    line-height: 56px;
  }
  .wrapper .mobile-navbar .title {
    display: block;
    z-index: 0;
    text-transform: uppercase;
    padding-left: 0px;
    font-weight: 900;
    height: 56px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .wrapper .mobile-navbar .title a {
    color: rgba(28, 32, 33, 0.6);
    text-decoration: none;
  }
  .wrapper .mobile-navbar .title span {
    font-weight: 300;
  }
  .wrapper .mobile-navbar label.toggler {
    cursor: pointer;
    display: block;
    float: left;
    width: 36px;
    height: 34px;
    margin: 11px 6px;
    background: rgba(255, 255, 255, 0.75);
    border-radius: 5px;
  }
  .wrapper .mobile-navbar label.toggler .navicon {
    background: rgba(28, 32, 33, 0.6);
    display: block;
    height: 3px;
    position: absolute;
    top: 26px;
    left: 12px;
    transition: background 0.5s ease-out;
    width: 24px;
  }
  .wrapper .mobile-navbar label.toggler .navicon:before, .wrapper .mobile-navbar label.toggler .navicon:after {
    background: rgba(28, 32, 33, 0.6);
    content: "";
    left: 0px;
    display: block;
    height: 100%;
    position: absolute;
    transition: all 0.5s ease-out;
    width: 100%;
  }
  .wrapper .mobile-navbar label.toggler .navicon:before {
    top: 7px;
  }
  .wrapper .mobile-navbar label.toggler .navicon:after {
    top: -7px;
  }
}
@media only screen and (min-width: 768px) {
  nav {
    z-index: 1;
    position: fixed;
    height: 56px;
    width: 100%;
    background: white;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
  }
  nav .title {
    font-size: 18px;
    line-height: 56px;
    display: block;
    text-transform: uppercase;
    padding-left: 0px;
    font-weight: 900;
    height: 56px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    float: left;
    margin-left: 40px;
  }
  nav .title a {
    color: rgba(28, 32, 33, 0.6);
    text-decoration: none;
  }
  nav .title span {
    font-weight: 300;
  }
  nav ul,
nav li {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  nav ul {
    float: right;
    margin-right: 40px;
  }
  nav ul li {
    display: inline-block;
  }
  nav ul li ul {
    transition: opacity 0.3s ease-in-out;
    float: none;
    transform: scale(0);
    display: block;
    opacity: 0;
    position: absolute;
    background-color: white;
    margin: 12px 0 0 0;
    padding: 12px 0;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.25);
  }
  nav ul li ul:before {
    border-bottom: solid 0.5em #fff;
    border-left: solid 0.5em transparent;
    border-right: solid 0.5em transparent;
    content: "";
    left: 0.75em;
    position: absolute;
    top: -0.45em;
  }
  nav ul li ul:after {
    content: "";
    width: 100%;
    position: absolute;
    height: 20px;
    top: -18px;
  }
  nav ul li ul li {
    display: block;
  }
  nav ul li ul li:first-child a {
    border-top: 0px;
  }
  nav ul li ul li a {
    margin: 0;
    padding: 10px 36px;
    width: 100%;
    max-width: 130px;
    font-size: 14px;
    border-top: 1px solid rgba(0, 0, 0, 0.05);
    background-color: white;
  }
  nav ul li ul li a:hover {
    background-color: #83d3c9;
    color: white;
  }
  nav ul li:hover ul {
    display: block;
    opacity: 1;
    transform: scale(1);
  }
  nav ul li:hover ul li a, nav ul li:hover ul li span {
    background-color: white;
    color: rgba(0, 0, 0, 0.75);
  }
  nav ul li:hover ul li a:hover, nav ul li:hover ul li span:hover {
    background-color: #83d3c9;
    color: white;
  }
  nav ul li:hover a, nav ul li:hover span {
    background-color: rgba(0, 0, 0, 0.05);
    outline: 1px solid rgba(255, 255, 255, 0.75);
  }
  nav ul li:hover.submenu a:after, nav ul li:hover.submenu span:after {
    transform: rotate(225deg);
    margin: 0 0 0px 8px;
    border-color: black;
  }
  nav ul li.current {
    font-weight: 900;
  }
  nav ul li a, nav ul li span {
    text-transform: uppercase;
    display: inline-block;
    padding: 10px 16px;
    margin: 10px;
    color: rgba(28, 32, 33, 0.6);
    text-decoration: none;
  }
  nav ul li a.button.primary, nav ul li span.button.primary {
    background-color: #39a296;
    color: white;
    font-weight: 900;
  }
  nav ul li a.button.primary:hover, nav ul li span.button.primary:hover {
    background-color: #83d3c9;
  }
  nav ul li a:hover, nav ul li span:hover {
    color: black;
    background-color: rgba(0, 0, 0, 0.05);
  }
  nav ul li.submenu a:after, nav ul li.submenu span:after {
    content: "";
    border: solid rgba(28, 32, 33, 0.6);
    border-width: 0 2px 2px 0;
    display: inline-block;
    margin: 0 0 3px 8px;
    padding: 3px;
    transform: rotate(45deg);
  }
  nav ul li.submenu ul li a:after {
    content: none;
  }

  .wrapper {
    /*
    width: calc(100% - 40px);
    padding: 20px;
    background-color: rgba(0,0,0,.05);
    */
  }
  .wrapper .mobile-navbar {
    display: none;
  }
}
/* HOME BANNER */
section#banner {
  width: 100%;
  max-width: 100%;
  margin: 0;
  text-align: center;
  color: #fff;
  cursor: default;
  padding: 6em 0 6em 0;
  text-align: center;
  background-attachment: scroll, scroll;
  background-color: #645862;
  background-image: url("https://sarah.dionne.ch/assets/img/logo_white_02.svg"), url("https://sarah.dionne.ch/assets/img/20201024_143714.jpg");
  background-position: center, center;
  background-repeat: no-repeat, no-repeat;
  background-size: 90% 90%, cover;
}
section#banner .inner {
  color: #fff;
  display: inline-block;
  padding: 3em 3em 0 3em;
  text-align: center;
}
section#banner .inner header {
  display: inline-block;
  border-bottom: solid 2px;
  border-top: solid 2px;
  margin: 0 0 2em 0;
  padding: 3px 0 3px 0;
}
section#banner .inner header h2 {
  text-shadow: 0px 0px 10px #000000;
  border-bottom: solid 2px;
  border-top: solid 2px;
  font-size: 2.5em;
  font-weight: 900;
  letter-spacing: 0.2em;
  margin: 0;
  padding-left: 0.05em;
  position: relative;
  text-transform: uppercase;
}
section#banner .inner header h2 a {
  text-decoration: none;
  color: #fff;
}
section#banner .inner header h2 span {
  font-weight: 300;
}
section#banner .inner p {
  text-shadow: 0px 0px 10px #000000, 0px 0px 10px #000000;
  letter-spacing: 0.1em;
  margin: 0;
  text-transform: uppercase;
}
section#banner .inner footer {
  padding-top: 12px;
}
section#banner .inner footer ul {
  margin: o;
  padding: 0;
}
section#banner .inner footer ul li {
  list-style-type: none;
  display: inline-block;
}
section#banner .inner footer ul li a {
  color: rgba(255, 255, 255, 0.8);
  padding: 12px 18px;
  transition: color 0.3s ease-in-out;
}
section#banner .inner footer ul li a:hover {
  color: white;
}
section#banner .inner footer ul li a span {
  border-radius: 50%;
  font-size: 36px;
}
@media only screen and (min-width: 768px) {
  section#banner .inner footer ul li a {
    padding: 12px 24px;
  }
  section#banner .inner footer ul li a span {
    transition: background-color 0.3s ease-in-out;
    border: 1px solid white;
    border-radius: 50%;
    padding: 16px;
    font-size: 36px;
  }
  section#banner .inner footer ul li a:hover span {
    background-color: rgba(255, 255, 255, 0.125);
    outline: 1px solid white;
  }
}
section#banner .inner footer ul li:first-child a {
  padding-left: 0;
}
section#banner .inner footer ul li:last-child a {
  padding-right: 0;
}
