<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
{% seo %}
  <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
  <!--[if lt IE 9]>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
  <![endif]-->
  {% include head-custom.html %}
</head>
<body>
  <div class="container">
    <input id="toggler" type="checkbox"/>
    <nav>
      <span class="title">Sarah <span>Dionne</span></span>
      <ul>
        <li class="current"><a href="/">Home</a></li>
        <li class="submenu"><a href="#">Menu</a>
          <ul>
            <li><a href="#">Submenu 1</a></li>
            <li><a href="#">Submenu 2</a></li>
            <li><a href="#">Submenu 3</a></li>
          </ul>
        </li>
        <li><a class="button primary" href="#">Contact</a></li>
      </ul>
    </nav>


    <div class="wrapper">
      <div class="mobile-navbar">
        <label class="toggler" for="toggler"><span class="navicon"></span></label><span class="title">Sarah <span>Dionne</span></span>
      </div>
      <div class="content">
        {{ content }}
      </div>
    </div>
    <footer>
      <p><small>&copy; 2021 Sarah Dionne · Hosted on GitHub Pages</a></small></p>
    </footer>
  </div>
</body>
</html>
